.reportName{
    font-size: 70%;
    margin-left: 5%;
    width: 50%;
    position: relative;
}
.reportPiece{
    margin:0;
}

.report-table{
    width:100%
}
.row:hover{
    background-color: beige;
}
.row:active:hover{
    background-color: tan;
}
.clear-button
{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.button-container
{
    text-align: center;
    width:100%;
    align-items: center;
    padding-top:5%;
}

img {
    width: 40px;

}

.allContent {
  max-width: 48rem;
  position: center;
  margin: auto;
}

.item {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.editButton {
    float: end;
    top: -4px;
    left: -0.3rem;
  }

h4 {
    padding-left: 24px;
}