.responsive-item-image {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  object-fit: contain;
}

h2 {
    margin: 0 0.2rem;
    padding-top: 1rem;
}


/*Photo Container CSS*/
/*Ref: https://stackoverflow.com/questions/54508374/how-can-i-position-an-icon-over-an-image*/

.container-img{
    display: block;
}

.container-button{
    position: absolute;
    top: 0%;
    right: 0%;
    filter: drop-shadow(0 0 0.2rem white);
}

/*Form display fields*/
.form-appear{
    width: 100%;
}

/*FAB display field*/
.fab{
    bottom: 2%;
    right: 3%;
    position: fixed;
    z-index: 1;
}

.allContent {
  padding: 0.4rem 2vw 3rem 2vw;
  max-width: 50rem;
  position: center;
  margin: auto;
}

.reportButtonHolder {
  margin-left: 0.15rem;
}

.reportButton {
  width: calc(5rem + 2.5vw);
  max-width: 28vw;
  padding: 0 1vw;
}

.moreInfoButtonHolder {
  margin-left: 0.15rem;
  align-items: end;
}

.moreInfoButton {
  width: calc(5rem + 2.5vw);
  max-width: 28vw;
  padding: 0 1vw;
}

.categoryImg {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.moreInfo {
  margin-top: 0.8rem;
}

.moreInfoOpen {
  padding-top: 0.8rem;
}

.mat-expansion-panel-header-title {
  font-size: 1rem;
}

.mat-card-subtitle {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

.categoryCard {
  margin-top: 0.4rem;
}

.editButton {
  float: end;
  top: -0.3rem;
  left: -0.3rem;
}

.titleHolder{
  padding-bottom: 0.2rem;
}

