<div class="allContent" *ngIf="item">
<!-- item name goes here, switch by edit val -->
<div [ngSwitch]="this.textEditFields.name">
    <div *ngSwitchCase=true>
        <form (ngSubmit)="onNameSubmit()">
            <mat-form-field class="form-appear">
                <input matInput #name type="text"
                placeholder="Name"
                [(ngModel)]="item.name"
                name="name"
                (focusout)="onNameSubmit()"
                required
                >
            </mat-form-field>
        </form>
    </div>
    <div *ngSwitchDefault>
      <h2>
        {{item.name}}
        <button mat-icon-button class="editButton" *ngIf="this.role === 'Admin'" (click)="editField('name')"><mat-icon>edit</mat-icon></button>
      </h2>
    </div>
</div>

<mat-grid-list cols="3" rowHeight="2:1">
    <!-- first is image -->
    <mat-grid-tile [colspan]="2" [rowspan]="3">
        <div>
            <img class="responsive-item-image container-img" src={{item.imageUrl}} layout-fit>
            <button mat-icon-button *ngIf="this.role === 'Admin'" class="container-button"  (click)="uploader.click()"><mat-icon>photo_camera</mat-icon></button>
            <!-- hidden item uploader -->
            <input hidden type="file" accept=".jpg,.jpeg,.png" #uploader (change)='uploadImage($event)'/>
        </div>
    </mat-grid-tile>
    <!-- report button -->
    <mat-grid-tile class="reportButton">
        <button mat-raised-button color="warn" (click)="createReport()"> Report
            <mat-icon>report_problem</mat-icon>
        </button>
    </mat-grid-tile>
    <!-- more info button -->
    <mat-grid-tile class="reportButton">
        <button mat-raised-button (click)="toggleMoreInfo()"> More Info
            <mat-icon *ngIf="!expanded">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="expanded">keyboard_arrow_up</mat-icon>
        </button>
    </mat-grid-tile>
    <!-- spacers -->
    <mat-grid-tile>

    </mat-grid-tile>
</mat-grid-list>

<!-- more info expansion panel -->
<mat-accordion>
    <mat-expansion-panel class="moreInfo" [expanded]="expanded" [ngClass]="{moreInfoOpen: expanded}">
        <!-- <mat-expansion-panel-header>
            <mat-panel-title>
                More Information
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
        </mat-expansion-panel-header> -->

        <!-- description -->
        <mat-card>
            <mat-card-header>
                <mat-card-title>Description <button mat-icon-button class="editButton" *ngIf="this.role === 'Admin'" (click)="editField('desc')"><mat-icon>edit</mat-icon></button></mat-card-title>
            </mat-card-header>
            <mat-card-content class="form-appear">
                <div [ngSwitch]="this.textEditFields.desc">
                    <div *ngSwitchCase=true>
                        <form (ngSubmit)="onDescSubmit()" class="form-appear">
                            <mat-form-field class="form-appear">
                                <textarea matInput #desc type="text"
                                placeholder="Desc"
                                [(ngModel)]="item.desc"
                                name="desc"
                                (focusout)="onDescSubmit()"
                                required
                                ></textarea>
                            </mat-form-field>
                        </form>
                    </div>
                    <div *ngSwitchDefault><p>{{item.desc}}</p></div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <!-- edit field -->
            </mat-card-actions>
        </mat-card>

        <!-- category -->
        <mat-card class="categoryCard">
            <mat-card-header>
                <mat-card-title>Category <button mat-icon-button class="editButton" *ngIf="this.role === 'Admin'" (click)="editCategory()"><mat-icon>edit</mat-icon></button></mat-card-title>
                <mat-card-subtitle>{{category?.name}}</mat-card-subtitle>
                <div mat-card-avatar> <img class="categoryImg" src={{category?.imageUrl}}> </div>
            </mat-card-header>
        </mat-card>

        <!-- tags -->
        <h3>Tags <button mat-icon-button class="editButton" *ngIf="this.role === 'Admin'" (click)="editField('tags')"><mat-icon>add</mat-icon></button></h3>
        <div [ngSwitch]="this.textEditFields.tags">
            <div *ngSwitchCase=true>
                <form>
                    <mat-form-field>
                        <mat-chip-list #tagList>
                          <mat-chip *ngFor="let tag of item.tags" [selectable]=true
                                   [removable]=true (removed)="removeTag(tag)">
                            {{tag}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                          </mat-chip>
                          <input #tags placeholder="New tag"
                                 [matChipInputFor]="tagList"
                                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                 [matChipInputAddOnBlur]="addOnBlur"
                                 (matChipInputTokenEnd)="add($event)"
                                 name="tags"
                            >
                        </mat-chip-list>
                      </mat-form-field>
                </form>
            </div>
            <div *ngSwitchDefault>
                <mat-chip-list selectable=false>
                    <mat-chip *ngFor="let tag of item.tags">{{tag}}</mat-chip>
                </mat-chip-list>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>

<!-- steps to find -->
<!-- adapted from https://material.angular.io/components/tree/examples -->
<h2>Steps to Find: <button mat-icon-button class="editButton" *ngIf="this.role === 'Admin'" (click)="editLocation()"><mat-icon>edit</mat-icon></button>
</h2>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding matTreeNodePaddingIndent="5">
        <li class="mat-tree-node  mat-elevation-z4">
            <div class="bottomLocation">
                {{node.name}}
                <br>
                <img class="bottomImage" src={{node?.imageUrl}}>
            </div>
        </li>
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePaddingIndent="5">
        <li class=" mat-elevation-z4">
            <div class="mat-tree-node">
                <div class="expandButton">
                    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </button>
                </div>
                <div class="locText">
                  {{node.name}}
                </div>
                <div class="picHolder">
                  <img class="locationPic" src={{node.imageUrl}}>
                </div>
            </div>
            <ul [ngClass]="{invisible: !treeControl.isExpanded(node)}">
                <ng-container matTreeNodeOutlet></ng-container>
            </ul>
        </li>
    </mat-nested-tree-node>
</mat-tree>
</div>

<!-- FAB for saving -->
<button class="fab" *ngIf="this.role === 'Admin' && this.dirty" mat-fab color="primary" (click)="saveItem()">
    <mat-icon>save</mat-icon>
</button>
