
<!--div class="mobile-content" *ngIf="item">
    <div class="item-content" >
        <br>
        <!--button mat-mini-fab *ngIf="this.role === 'Admin'" color="accent" class="camera-button" (click)="editField('photo')"><mat-icon>photo_camera</mat-icon></button>
        <h2 class="title">
            <span *ngIf="item.name"> {{item.name}} </span>
            <span *ngIf="!item.name" class="light-text"> ( No Title ) </span>
        </h2>
        <div *ngIf="item.desc" class="item-description">{{item.desc}}</div>

        <button class="big-button report-button action-color" mat-raised-button [class.mat-elevation-z3]="true">
            <mat-icon>swap_horiz</mat-icon> 
            Transfer Stock
        </button>
        
        <button class="big-button report-button action-color" mat-raised-button (click)="createReport()" [class.mat-elevation-z3]="true">
            <mat-icon>assignment_late</mat-icon> 
            Report
        </button>

        <button class="big-button report-button action-color-light" mat-raised-button (click)="openQRCodeGenerator()" [class.mat-elevation-z3]="true">
            <mat-icon>qr_code_2</mat-icon> 
            Create QR Code
        </button>

        <div *ngIf="role === 'Admin'">
            <button class="big-button report-button structure-color-dark" mat-raised-button [matMenuTriggerFor]="editMenu" [class.mat-elevation-z3]="true">
                <mat-icon>edit</mat-icon> 
                Edit
            </button>
            <mat-menu #editMenu="matMenu">
                <button class="edit-item" (click)="editField('Attributes')" mat-menu-item>Attributes</button>
                <button class="edit-item" (click)="editField('Bin IDs')" mat-menu-item>Bin IDs</button>
                <button class="edit-item" (click)="editField('Category')" mat-menu-item>Category</button>
                <button class="edit-item" (click)="editField('Description')" mat-menu-item>Description</button>
                <button class="edit-item" (click)="editField('Image')" mat-menu-item>Image</button>
                <button class="edit-item" (click)="editField('Location')" mat-menu-item>Location</button>
                <button class="edit-item" (click)="editField('Tags')" mat-menu-item>Tags</button>
                <button class="edit-item" (click)="editField('Title')" mat-menu-item>Title</button>
            </mat-menu>
        </div>

        <div class="small-spacer"></div>

        <h3> Attributes </h3>

        <p *ngIf="!attributesForCard || attributesForCard.length < 1" class="light-text">
            ( None )
        </p>
        <div *ngIf="attributesForCard">
            <div *ngFor="let attrCard of attributesForCard" class="attribute-data">
                <span class="attribute-name"> {{attrCard.name}} </span>
                <span *ngIf="attrCard.value" class="attribute-value"> {{attrCard.value}} </span>
                <div *ngFor="let value of attrCard.values; index as i " class="layer-attributes">  
                    <span class="attribute-layer-name light-text"> {{attrCard.layerNames[i]}} </span>
                    <span class="attribute-value"> {{value}} </span>
                </div>
                <div class="attribute-break"></div>
            </div>
        </div>

        <div class="small-spacer"></div>

        <!-- Locations>
        <h3 class="bottom-space"> Located In: </h3>
        <p *ngIf="!itemLocations || itemLocations.length < 1" class="light-text"> ( None ) </p>
        <div *ngFor="let locationData of itemLocations">
            <mat-expansion-panel class="location-data" [expanded]="locationData.isPanelExtended">
                <mat-expansion-panel-header [collapsedHeight]="'84px'" [expandedHeight]="'96px'" class="location-header">
                    <img class="clickable-image location-img" [class.mat-elevation-z4]="true" (click)="linkTo(locationData.location.ID, 'location')" src={{locationData.location.imageUrl}}>
                    <div class="location-name"> {{locationData.location.name}} </div>
                </mat-expansion-panel-header>

                <mat-card *ngIf="locationData.binID" class="structure-color-light">
                    <h3>Bin {{ locationData.binID }}</h3>
                </mat-card>

                <h3>
                    Tracking:
                </h3>
                <h4 *ngIf="this.role === 'Admin'" class="tracking-switch"><mat-slide-toggle class="tracking-numbers-toggle" [(ngModel)]="locationData.tracking.isNumber" (click)="toggleNumberTrackingForLocation(locationData.location.ID)"> Use Exact Numbers </mat-slide-toggle></h4>
                <div *ngIf="locationData.tracking.isNumber" class="tracking-input-number">
                    <div *ngIf="!locationData.tracking.isBeingEdited">
                        <button mat-raised-button color="accent" class="box-button minus-button" (click)="modifyTrackingNumber(locationData.location.ID, 'subtract one', locationData.tracking.type, locationData.tracking.amount)"><mat-icon>remove</mat-icon></button>
                        <button mat-stroked-button class="number-display">{{locationData.tracking.amount}}</button>
                        <button mat-raised-button color="accent" class="box-button plus-button" (click)="modifyTrackingNumber(locationData.location.ID, 'add one', locationData.tracking.type, locationData.tracking.amount)"><mat-icon>add</mat-icon></button>
                        <button mat-raised-button color="primary" class="box-button edit-number-button" (click)="locationData.tracking.isBeingEdited = true"><mat-icon>edit</mat-icon></button>
                    </div>
                    <div *ngIf="locationData.tracking.isBeingEdited">
                        <mat-form-field class="cap-form" id="editTrackingNumber">
                            <mat-label class="cap-label">Enter amount in stock:</mat-label>
                            <input matInput #amount
                            type="number"
                            [(ngModel)]="locationData.tracking.amount"
                            (focusout)="closeEditingTrackingNumber(locationData.tracking, locationData.location.ID)"
                            autofocus
                            >
                        </mat-form-field>
                        <button mat-icon-button class="fake-confirm-button"><mat-icon>done</mat-icon></button>
                    </div>
                    <div *ngIf="this.role === 'Admin'">
                        <mat-form-field class="cap-form">
                            <mat-label class="cap-label">Auto report when at or below:</mat-label>
                            <input matInput #cap
                            type="number"
                            [(ngModel)]="locationData.tracking.cap"
                            (focusout)="updateTrackingCap(locationData.tracking, locationData.location.ID)"
                            (focus)="locationData.tracking.capFocus = true"
                            >
                        </mat-form-field>
                        <button mat-icon-button class="fake-confirm-button" *ngIf="locationData.tracking.capFocus"><mat-icon>done</mat-icon></button>
                    </div>
                </div>
                <div *ngIf="!locationData.tracking.isNumber" class="tracking-input-approx">
                    <!-- REPLACE <h4>Last reported as: <span class="amount-reported">{{locationData.tracking.amount}}</span></h4>
                    button mat-raised-button class="approx-button approx-good" (click)="setTrackingAmount(card.locationID, 'Good')">Good</button>
                    <button mat-raised-button class="approx-button approx-low" (click)="setTrackingAmount(locationData.location.ID, 'Low')">Low</button>
                    <button mat-raised-button class="approx-button approx-empty" (click)="setTrackingAmount(locationData.location.ID, 'Empty')">Empty</button>
                </div>
                <app-ancestor-view [parentsOf]="locationData.location"></app-ancestor-view>
            </mat-expansion-panel>
        </div>

        <div class="small-spacer"></div>

        <!-- Category>
        <div class="category-info">
            <h3> Category </h3>
            <div class="category-container">
                <div class="category-picture"> <img class="clickable-image categoryImg" [class.mat-elevation-z4]="true" src={{category?.imageUrl}} (click)="linkTo(category?.ID, 'category')"></div>
                <div class="category-name">{{category?.ID !== 'root' ? category?.name : 'Unassigned'}}</div>
            </div>
        </div>

        <div class="small-spacer"></div>

        <!-- tags>
        <div *ngIf="item.tags && item.tags.length > 0">
            <h3 class="bottom-space"> Tags </h3>
            <mat-chip-list selectable="false">
                <mat-chip *ngFor="let tag of item.tags">{{tag}}</mat-chip>
            </mat-chip-list>
            <div class="small-spacer"></div>
        </div>

        <br>
        <button mat-button *ngIf="this.role === 'Admin'" color="warn" (click)="requestDelete()">Delete Item</button>
        <br>
        <br>
    </div>
</div-->

<img *ngIf="item" class="responsive-item-image container-img" src={{item.imageUrl}} layout-fit>
<div class="all-content" *ngIf="item">
    <div class="small-spacer"></div>

    <div class="title">
        <h1>
            <span *ngIf="item.name"> {{item.name}} </span>
            <span *ngIf="!item.name" class="light-text"> ( No Title ) </span>
        </h1>
        <div *ngIf="item.desc" class="item-description">{{item.desc}}</div>

        <button class="big-button report-button action-color" disabled="true" mat-raised-button (click)="transferStock()" [class.mat-elevation-z3]="true">
            <mat-icon>arrow_circle_right</mat-icon> 
            Transfer Stock (WIP)
        </button>

        <button class="big-button report-button action-color" mat-raised-button (click)="createReport()" [class.mat-elevation-z3]="true">
            <mat-icon>assignment_late</mat-icon>
            Report
        </button>

        <button class="big-button report-button action-color-light" mat-raised-button (click)="openQRCodeGenerator()" [class.mat-elevation-z3]="true">
            <mat-icon>qr_code_2</mat-icon> 
            Create QR Code
        </button>

        <span *ngIf="role === 'Admin'">
            <button class="big-button report-button structure-color-dark" mat-raised-button [matMenuTriggerFor]="editMenu" [class.mat-elevation-z3]="true">
                <mat-icon>edit</mat-icon> 
                Edit
            </button>
            <mat-menu #editMenu="matMenu">
                <button class="edit-item" (click)="editField('Attributes')" mat-menu-item>Attributes</button>
                <button class="edit-item" (click)="editField('Bin IDs')" mat-menu-item>Bin IDs</button>
                <button class="edit-item" (click)="editField('Category')" mat-menu-item>Category</button>
                <button class="edit-item" (click)="editField('Description')" mat-menu-item>Description</button>
                <button class="edit-item" (click)="editField('Image')" mat-menu-item>Image</button>
                <button class="edit-item" (click)="editField('Location')" mat-menu-item>Location</button>
                <button class="edit-item" (click)="editField('Tags')" mat-menu-item>Tags</button>
                <button class="edit-item" (click)="editField('Title')" mat-menu-item>Title</button>
            </mat-menu>
        </span>
    </div>

    <div class="item-content">
        <div class="item-content-block block-1">
            <img class="desktop-image container-img" src={{item.imageUrl}} layout-fit>
            <!--button mat-mini-fab *ngIf="this.role === 'Admin'" color="accent" class="camera-button" (click)="editField('photo')"><mat-icon>photo_camera</mat-icon></button-->

            <h3 class="attribute-header bottom-space"> 
                Attributes 
            </h3>

            <p *ngIf="!attributesForCard || attributesForCard.length < 1" class="light-text">
                ( None )
            </p>
            <div *ngIf="attributesForCard">
                <br>
                <div *ngFor="let attrCard of attributesForCard" class="attribute-data">
                    <span class="attribute-name"> {{attrCard.name}} </span>
                    <span *ngIf="attrCard.value" class="attribute-value"> {{attrCard.value}} </span>
                    <div *ngFor="let value of attrCard.values; index as i " class="layer-attributes">  
                        <span class="attribute-layer-name light-text"> {{attrCard.layerNames[i]}} </span>
                        <span class="attribute-value"> {{value}} </span>
                    </div>
                    <div class="attribute-break"></div>
                </div>
            </div>
        </div>

        <div class="item-content-block block-2">
            <!-- Reports, if there are any -->
            <div *ngIf="itemReports" class="active-reports">
                <h3 class="bottom-space desktop-no-top-space"> Active Reports: </h3>
                <app-report-list [reports]="itemReports" [workspaceID]="workspaceID">
                </app-report-list>
            </div>

            <!-- Locations -->
            <h3 class="bottom-space desktop-no-top-space">
                Located In: 
            </h3>
            <p *ngIf="!itemLocations || itemLocations.length < 1" class="light-text">
                ( None )
            </p>
            <div *ngFor="let locationData of itemLocations">
                <mat-expansion-panel class="location-data" [expanded]="locationData.isPanelExtended">
                    <mat-expansion-panel-header [collapsedHeight]="'84px'" [expandedHeight]="'96px'" class="location-header">
                        <img class="clickable-image location-img" [class.mat-elevation-z4]="true" (click)="linkTo(locationData.location.ID, 'location')" src={{locationData.location.imageUrl}}>
                        <div class="location-name"> {{locationData.location.name}} </div>
                    </mat-expansion-panel-header>

                    <mat-card *ngIf="locationData.binID" class="structure-color-light">
                        <h3>Bin {{ locationData.binID }}</h3>
                    </mat-card>

                    <h3>
                        Tracking:
                    </h3>
                    <h4 *ngIf="this.role === 'Admin'" class="tracking-switch"><mat-slide-toggle class="tracking-numbers-toggle" [(ngModel)]="locationData.tracking.isNumber" (click)="toggleNumberTrackingForLocation(locationData.location.ID)"> Use Exact Numbers </mat-slide-toggle></h4>
                    <div *ngIf="locationData.tracking.isNumber" class="tracking-input-number">
                        <div *ngIf="!locationData.tracking.isBeingEdited">
                            <button mat-raised-button color="accent" class="box-button minus-button" (click)="modifyTrackingNumber(locationData.location.ID, 'subtract one', locationData.tracking.type, locationData.tracking.amount)"><mat-icon>remove</mat-icon></button>
                            <button mat-stroked-button class="number-display">{{locationData.tracking.amount}}</button>
                            <button mat-raised-button color="accent" class="box-button plus-button" (click)="modifyTrackingNumber(locationData.location.ID, 'add one', locationData.tracking.type, locationData.tracking.amount)"><mat-icon>add</mat-icon></button>
                            <button mat-raised-button color="primary" class="box-button edit-number-button" (click)="locationData.tracking.isBeingEdited = true"><mat-icon>edit</mat-icon></button>
                        </div>
                        <div *ngIf="locationData.tracking.isBeingEdited">
                            <mat-form-field class="cap-form" id="editTrackingNumber">
                                <mat-label class="cap-label">Enter amount in stock:</mat-label>
                                <input matInput #amount
                                type="number"
                                [(ngModel)]="locationData.tracking.amount"
                                (focusout)="closeEditingTrackingNumber(locationData.tracking, locationData.location.ID)"
                                autofocus
                                >
                            </mat-form-field>
                            <button mat-icon-button class="fake-confirm-button"><mat-icon>done</mat-icon></button>
                        </div>
                        <div *ngIf="this.role === 'Admin'">
                            <mat-form-field class="cap-form">
                                <mat-label class="cap-label">Auto report when at or below:</mat-label>
                                <input matInput #cap
                                type="number"
                                [(ngModel)]="locationData.tracking.cap"
                                (focusout)="updateTrackingCap(locationData.tracking, locationData.location.ID)"
                                (focus)="locationData.tracking.capFocus = true"
                                >
                            </mat-form-field>
                            <button mat-icon-button class="fake-confirm-button" *ngIf="locationData.tracking.capFocus"><mat-icon>done</mat-icon></button>
                        </div>
                    </div>
                    <div *ngIf="!locationData.tracking.isNumber" class="tracking-input-approx">
                        <!-- REPLACE <h4>Last reported as: <span class="amount-reported">{{locationData.tracking.amount}}</span></h4>
                        button mat-raised-button class="approx-button approx-good" (click)="setTrackingAmount(card.locationID, 'Good')">Good</button>
                        <button mat-raised-button class="approx-button approx-low" (click)="setTrackingAmount(locationData.location.ID, 'Low')">Low</button>
                        <button mat-raised-button class="approx-button approx-empty" (click)="setTrackingAmount(locationData.location.ID, 'Empty')">Empty</button-->
                    </div>
                    <app-ancestor-view [parentsOf]="locationData.location"></app-ancestor-view>
                </mat-expansion-panel>
            </div>

            <!-- Category -->
            <div class="category-info">
                <h3> Category </h3>
                <div class="category-container">
                    <div class="category-picture"> <img class="clickable-image categoryImg" [class.mat-elevation-z4]="true" (click)="linkTo(category?.ID, 'category')" src={{category?.imageUrl}}></div>
                    <div class="category-name">{{category?.ID !== 'root' ? category?.name : 'Unassigned'}}</div>
                </div>
            </div>
    
            <div class="small-spacer"></div>
    
            <!-- tags -->
            <div *ngIf="item.tags && item.tags.length > 0">
                <br>
                <h3 class="bottom-space"> Tags </h3>
                <mat-chip-list selectable="false">
                    <mat-chip *ngFor="let tag of item.tags">{{tag}}</mat-chip>
                </mat-chip-list>
                <div class="small-spacer"></div>
            </div>
        </div>

        <div class="item-content block-3">    
            <button mat-button *ngIf="this.role === 'Admin'" class="delete-button" color="warn" (click)="requestDelete()">Delete Item</button>
            <br>
            <br>
        </div>
    </div>
</div>

<button mat-mini-fab class="extended-fab-button undo-fab" *ngIf="this.role === 'Admin' && this.getDirty()" @open-undo-fab matTooltip="Undo" color="accent" (click)="undoChanges()">
    <mat-icon>edit</mat-icon><span class="extended-fab-button__text">Revert</span>
</button>

<div *ngIf="!loaded" style="padding: 18px;">
    <h3>Loading item...</h3>
</div>

<div *ngIf="loaded && !item" style="padding: 18px;">
    <h3>This item does not exist or was removed.</h3>
</div>
