.responsive-item-image {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  object-fit: contain;
}

h2 {
    margin: 0 0.2rem;
    padding-top: 0.8rem;
}


/*Tree CSS*/
.invisible {
    display: none;
}

.example-tree ul,
.example-tree li {
    list-style-type: none;
    align-content: center;
}

/*Photo Container CSS*/
/*Ref: https://stackoverflow.com/questions/54508374/how-can-i-position-an-icon-over-an-image*/

.container-img{
    display: block;
}

.container-button{
    position: absolute;
    top: 0%;
    right: 0%;
    filter: drop-shadow(0 0 0.2rem white);
}

/*Form display fields*/
.form-appear{
    width: 100%;
}

/*FAB display field*/
.fab{
    bottom: 2%;
    right: 3%;
    position: fixed;
    z-index: 1;
}

.locationPic {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: right;
}

.picHolder {
  height: 4rem;
  width: 100%
}

.mat-tree-node {
  padding: 0.4rem;
  font-size: 1rem;
}

ul {
  padding-left: 0.5rem;
}

.locText {
  width: 50vw;
}

.allContent {
  padding: 2vw;
  max-width: 50rem;
  position: center;
  margin: auto;
}

.reportButton {
  margin-left: 0.25rem;
}

.categoryImg {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.moreInfo {
  margin-top: 0.8rem;
}

.moreInfoOpen {
  padding-top: 0.8rem;
}

.mat-expansion-panel-header-title {
  font-size: 1rem;
}

.mat-card-subtitle {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

.categoryCard {
  margin-top: 0.4rem;
}

.bottomLocation {
  margin-left: 0.4rem;
  margin-top: 0.4rem;
}

.bottomImage {
  margin-top: 0.2rem;
}

.editButton {
  top: 0;
  bottom: auto;
}
