<mat-form-field *ngFor="let userSet of usersForUI" appearance="fill" class="admin-select-form">
    <mat-label class="user-select-label">Select someone:</mat-label>
    <mat-select class="user-select" [(value)]="userSet[0].id">
        <mat-option *ngFor="let user of userSet" [value]="user.id" (click)="onClickUser(user, userSet[0])">{{user.firstName + ' ' + user.lastName}}</mat-option>
    </mat-select>
</mat-form-field>
<br>
<button *ngIf="usersForUI && usersForUI[0].length > 1" mat-raised-button color="accent" class="add-button"><mat-icon>add</mat-icon>Add Another</button>
