<mat-expansion-panel (opened)="onExpandPanel()">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <h3> {{ displayText }} </h3>
        </mat-panel-title>
    </mat-expansion-panel-header>

    <div *ngIf="!parentsToDisplay">
        <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="parentsToDisplay" class="parent-hierarchy">
        <div *ngFor="let hierItem of parentsToDisplay">
            <div *ngIf="hierItem.ID !== 'root'">
                <div class="location-data"> 
                    <img class="hier-image" src={{hierItem.imageUrl}}> 
                    <span class="location-text"> {{ hierItem.name }} </span>
                </div>
                <div *ngIf="hierItem.ID !== parentsToDisplay[0].ID">
                    <mat-icon class="arrow-icon">south</mat-icon>
                </div>
            </div>
        </div>
    </div>
</mat-expansion-panel>
