mat-list-item{
    list-style-type: none;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.equal-button{
    width: 15em;
    min-width: unset;
    justify-content: center;
}

.overall-settings{
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.settings-container
{
    text-align: center;
    width: 100%;
    align-items: center;
}
.settings-item
{
    text-align: center;
    width: 100%;
    align-items: center;
}
.headerName
{
    text-align:center;
    justify-content: center;
}
