mat-list-item{
    list-style-type: none;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.equal-button{
    width: 70%;
    min-width: unset;
}

.overall-settings{
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    text-align: center;
}