<!-- load admin components if admin -->
<!-- <div *ngIf="role === 'Admin'">
  <br>
    <mat-list class ="settings-container">
      <div class = "settings-item">
        <h3 mat-subheader class = "headerName">Admin Duties</h3>
      </div>
        <mat-list-item>
            <div class = "settings-item">
                <button mat-raised-button class="equal-button" [routerLink] = "['/search/categories/root']">Manage Items</button>
            </div>
        </mat-list-item>
        <mat-list-item>
            <div class = "settings-item">
                <button mat-raised-button class="equal-button" [routerLink]="['/reports']" routerLinkActive="router-link-active">Reports</button>
            </div>
        </mat-list-item>
      <br>
        <mat-divider></mat-divider>
      <br>
        <div class = "settings-item">
            <h3 mat-subheader class = "headerName">Shop Configuration</h3>
        </div>
        <mat-list-item>
            <div class = "settings-item">
                <button mat-raised-button class="equal-button" [routerLink]="['/users']">Users</button>
            </div>
        </mat-list-item>
        <mat-list-item>
            <div class = "settings-item">
                <button mat-raised-button class="equal-button" (click)="goToModify(false)">Modify Locations</button>
            </div>
        </mat-list-item>
        <mat-list-item>
            <div class = "settings-item">
                <button mat-raised-button class="equal-button" (click)="goToModify(true)">Modify Categories</button>
            </div>
        </mat-list-item>
      <br>
        <mat-divider></mat-divider>
      <br>
        <div class = "settings-item">
            <h3 mat-subheader class = "headerName">Settings</h3>
        </div>
    </mat-list>
</div> -->
<!-- load rest of settings -->
<br>
<br>
<br>
<div class="overall-settings">

    <h3>User:</h3>
    <h5>{{user.firstName}} {{user.lastName}}</h5>

    <br>

    <h3>Email:</h3>
    <h5>{{user.email}}</h5>

    <br>

    <h3>Workspace:</h3>
    <h5>{{workspace.name}}</h5>

    <br>
    <br>
    <!-- buttons here -->
    <button mat-raised-button class="equal-button" color="primary" (click)="requestPasswordChange()">Change Password</button>
    <br>
    <button mat-raised-button class="equal-button" color="warn" (click)="logout()">Logout <mat-icon>exit_to_app</mat-icon></button>
    <br>
    <br>
    <br>
    <br>
    <!-- Keep this as the new update being worked on, then it's ready when deploying -->
    <p class = "version">1.4.3</p>
</div>
