<mat-toolbar *ngIf='this.locationString !== "/login"' color="primary">
    <div [ngSwitch]="checkLocation()">
        <span *ngSwitchCase='"item"'>
            <button mat-button (click)="goBack()">
                <mat-icon>
                    arrow_back
                </mat-icon> Go Back
            </button>
        </span>
        <span *ngSwitchCase='"settings"'>
            <button mat-button (click)="goBack()">
                <mat-icon>
                    arrow_back
                </mat-icon> <a *ngIf="this.role !=='Admin'">User Settings</a> <a *ngIf="role ==='Admin'">Admin Actions</a>
            </button>
        </span>
        <span *ngSwitchCase='"modifyCategories"'>
            <button mat-button (click)="goBack()">
                <mat-icon>
                    arrow_back
                </mat-icon> <a>Modify Categories</a>
            </button>
        </span>
        <span *ngSwitchCase='"modifyLocations"'>
            <button mat-button (click)="goBack()">
                <mat-icon>
                    arrow_back
                </mat-icon> <a>Modify Locations</a>
            </button>
        </span>
        <!-- we are home, check for in search hierarchy -->
        <span *ngSwitchDefault>
            <span *ngIf='parent === null || parent?.ID === "root"'>Placewise</span>

            <!-- not home, display back button with functionality -->
            <div *ngIf='parent !== null && parent.ID !== "root"'>
                <button mat-button (click)="returnInHierarchy()">
                    <mat-icon>
                        arrow_back
                    </mat-icon> {{parent.name}}
                </button>
            </div>
        </span>
    </div>
    <span class="spacer"></span>
    <button mat-icon-button [disabled]="this.locationString==='/settings'"  [routerLink]="['/settings']" routerLinkActive="router-link-active">
        <mat-icon *ngIf="this.role !== 'Admin'">person</mat-icon>
        <mat-icon *ngIf="this.role === 'Admin'">people</mat-icon> <!-- no built-in material admin button -->
    </button>
    <button mat-icon-button [disabled]="checkLocation() ==='/' && (parent === null || parent.ID === 'root')" (click)="goHome()"><mat-icon>home</mat-icon></button>
</mat-toolbar>
