.spacer{
    flex: 1 1 auto;
}


mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}

.nav-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.add-menu-button {
  font-size: 1rem;
  padding: 0 18px;
}