<mat-toolbar *ngIf='this.locationString !== "/login"'>
    <mat-toolbar-row class="structure-color-dark">
        <div [ngSwitch]="checkLocation()">
            <span *ngSwitchCase='"item"'>
                <span class="nav-text">Item</span>
            </span>
            <span *ngSwitchCase='"location"'>
                <span class="nav-text">Location</span>
            </span>
            <span *ngSwitchCase='"category"'>
                <span class="nav-text">Category</span>
            </span>
            <span *ngSwitchCase='"settings"'>
                <span class="nav-text">Settings</span>
            </span>
            <span *ngSwitchCase='"moderateUsers"'>
                <span class="nav-text">Users</span>
            </span>
            <span *ngSwitchCase='"reports"'>
                <span class="nav-text">Reports</span>
            </span>
            <span *ngSwitchCase='"itemBuilder"'>
                <span class="nav-text">Item Builder</span>
            </span>
            <span *ngSwitchCase='"print"'>
                <span class="nav-text">Print</span>
            </span>
            <!-- we are home, check for in search hierarchy -->
            <span *ngSwitchDefault>
                <span *ngIf='parent === null || parent?.ID === "root"'>Home</span>

                <!-- not home, display back button with functionality -->
                <span *ngIf='parent !== null && parent.ID !== "root"'>
                    <button mat-icon-button (click)="route('hierarchy')">
                        <mat-icon>
                            arrow_upward
                        </mat-icon> 
                    </button>
                </span>
            </span>
        </div>
        <span class="spacer"></span>
        <button mat-icon-button [disabled]="checkLocation() ==='/' && (parent === null || parent.ID === 'root')" (click)="route('home')"><mat-icon>home</mat-icon></button>
        <button mat-icon-button [disabled]="this.locationString ==='/print'" (click)="route('print')">
            <mat-icon [matBadge]="4" matBadgeColor="accent">print</mat-icon>
        </button>
        <!--button mat-icon-button [disabled]="checkLocation() ==='textSearch'" (click)="route('textSearch')"><mat-icon>search</mat-icon></button-->
        <button mat-icon-button *ngIf="this.role === 'Admin'" [disabled]="this.locationString==='/reports'" (click)="route('reports')">
            <mat-icon [matBadge]="numberOfReports" [matBadgeColor]="hasReadReportsColor" [matBadgeHidden]="numberOfReports === 0">report_problem</mat-icon>
        </button>
        <button mat-icon-button *ngIf="this.role === 'Admin'" [disabled]="this.locationString==='/users'" (click)="route('users')"><mat-icon>people</mat-icon></button>
        <button mat-icon-button [disabled]="this.locationString==='/settings'"  (click)="route('settings')">
            <mat-icon>settings</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<button *ngIf="showQRScanner()" mat-fab class="extended-fab-button qr-scanner-button" (click)="openQRScanner()"><mat-icon class="qr-icon">qr_code_2</mat-icon> SCAN </button>
