.all-content {
    margin: 16px;
}

.category-container {
  display: flex;
  align-items: center;
  margin-top: -6px;
  padding-bottom: 4px;
  height: 60px;
}

.locations-container {
  display: flex;
  align-items: center;
  margin-top: -6px;
  padding-bottom: 4px;
  height: 60px;
}

.category-name {
  font-weight: 500;
  font-size: 18px;
  padding-left: 12px;
}

.location-name {
  font-weight: 500;
  font-size: 18px;
  padding-left: 12px;
}

.category-picture {
  min-width: 60px;
  min-height: 60px;
  max-width: 60px;
  max-height: 60px;
  border-radius: 100%;
}

.location-picture {
  min-width: 60px;
  min-height: 60px;
  max-width: 60px;
  max-height: 60px;
  border-radius: 100%;
}

.categoryImg {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.locationImg {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.light-text {
  color: #888;
}