.user-table{
  width:100%;
  max-width: 100%;
}

.userText {
  word-wrap: break-word;
  padding: 0.35rem 0;
}

.userName {
  font-size: 1rem;
}

.userBox {
  max-width: 50vw;
}

.fab{
  bottom: 8vmin;
  right: 6vmin;
  position: fixed;
  /*z-index: 1;*/
}

.pageData {
  max-width: 32rem;
  position: center;
  margin: auto;
}

.deleteButton {
  width: 40px;
}

/* Not working */
.mat-checkbox {
  padding-left: 0.6rem;
}

.mat-header-cell {
  font-size: 0.8rem;
}

.adminHeader {
  padding-right: 0.3rem;
}

.user-select{
  margin-left: 24px;
}
