<mat-tab-group class="action-color-light" mat-align-tabs="center" [(selectedIndex)]="selectedTab">
    <mat-tab label="Queued Items">
        <div class="tab-content">
            <div class="add-qr-range-container">
                <div class="qr-range-label">
                    Add range of bin QRs to queue:
                </div>
                <div class="add-qr-range-form">
                    <mat-form-field class="bin-form" appearance="outline">
                        <mat-label>Shelf</mat-label>
                        <input 
                            class="shelf-input" 
                            matInput 
                            #shelfInput
                            type="number" 
                            pattern="\d*" 
                            maxlength="3"
                            (keyup)="updateQuickSearchShelf($event)">
                    </mat-form-field>
                    <span> - </span>
                    <mat-form-field class="bin-form" appearance="outline">
                        <mat-label>Bin</mat-label>
                        <input 
                            class="shelf-input" 
                            matInput 
                            #binInput
                            type="number" 
                            pattern="\d*" 
                            maxlength="3"
                            (keyup)="updateQuickSearchBin($event)">
                    </mat-form-field>
                    <span> to </span>
                    <mat-form-field class="bin-form" appearance="outline">
                        <mat-label>Bin</mat-label>
                        <input 
                            class="shelf-input" 
                            matInput 
                            #binInputExt
                            type="number" 
                            pattern="\d*" 
                            maxlength="3"
                            (keyup)="updateQuickSearchBinExt($event)">
                    </mat-form-field>
                    <br>
                    <button mat-raised-button class="bin-add-button action-color" [disabled]="qrBins === 0 || loadingItems" (click)="addBinQRs()"> Add {{qrBins}} Bin QRs </button>
                    <mat-progress-bar *ngIf="loadingItems" class="loading-bar" mode="determinate" [value]="loadingProgress"></mat-progress-bar>
                </div>
                <br>
                <button mat-raised-button class="bin-add-button" color="warn" [disabled]="itemsInQueue.length === 0" (click)="clearAllItems()"> Clear all Queued Items </button>
            </div>
            <div cdkDropList (cdkDropListDropped)="drop($event)" [class.mat-elevation-z4]="true" class="item-list">
                <div class="item-list-header-container">
                    <div>
                        Item, Location, Category, or Bin to QR Print
                    </div>
                    <div *ngIf="!itemsInQueue || itemsInQueue.length === 0">
                        <br><br> (There are no items in the queue.)
                    </div>
                </div>
                <div *ngFor="let item of itemsInQueue; index as i" cdkDrag>
                    <div class="item-line" [class.mat-elevation-z2]="true" [style.margin-bottom]="calculateSpacing(i)">
                        <mat-icon class="drag-icon" style="color: #BBB; cursor: grab" cdkDragHandle>drag_indicator</mat-icon>
                        <div class="item-text">
                            <span class="light-text">{{item.binID ?? (item.type === 'b' ? "(No Item)" : "(No Bin)")}}</span>
                            <br>{{item.displayName}}
                        </div>
                        <div class="item-checkbox-container">
                            <button mat-icon-button (click)="editDisplayName(i)"><mat-icon>edit</mat-icon></button>
                            <button mat-icon-button (click)="removeItem(i)"><mat-icon>delete</mat-icon></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Templates">
        <div class="tab-content">
            <div class="templates">
                <mat-card *ngFor="let template of printTemplates; index as i" class="print-template">
                    <div>
                        {{template.templateName}}
                        <br> <span class="light-text">{{template.updated}}</span>
                    </div>
                    <button mat-raised-button class="action-color" (click)="loadTemplate(i)" [disabled]="!checkReady()"> Use </button>
                </mat-card>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Page Setup">
        <div class="tab-content">
            <div class="page-setup">

                <div class="information-separator-large">
                    <div class="input-space"> Formatting: </div>
                    <mat-radio-group class="radio-button-group" [(ngModel)]="format" (ngModelChange)="calculateGrid()">
                        <mat-radio-button value="vert-large" class="input-space"><i class="light-text">Necessary for scanning<br>QRs on the same page:</i><br>Vertical, large spacing.</mat-radio-button><br>
                        <mat-radio-button value="vert-medium" class="input-space">Vertical, medium spacing.</mat-radio-button><br>
                        <mat-radio-button value="vert-small" class="input-space"><i class="light-text">Best for cutting up QRs<br>alone or with Bin IDs:</i><br>Vertical, small spacing.</mat-radio-button><br>
                        <mat-radio-button value="horiz-long" class="input-space">Horizontal, long spacing.</mat-radio-button><br>
                        <mat-radio-button value="horiz-medium" class="input-space">Horizontal, medium spacing.</mat-radio-button><br>
                        <mat-radio-button value="horiz-short"><i class="light-text">Least paper used with<br>QRs and Item names:</i><br>Horizontal, short spacing.</mat-radio-button><br>
                    </mat-radio-group>
                </div>

                <div class="information-separator-large">
                    <mat-form-field class="form-space" appearance="outline">
                        <mat-label>Page Width (in)</mat-label>
                        <input matInput [(ngModel)]="pageWidth" type="number" (ngModelChange)="calculateGrid()">
                    </mat-form-field>
                    <mat-form-field class="form-space" appearance="outline">
                        <mat-label>Page Height (in)</mat-label>
                        <input matInput [(ngModel)]="pageHeight" type="number" (ngModelChange)="calculateGrid()">
                    </mat-form-field>
                    <span>
                        <button mat-icon-button class="action-color-light" (click)="swapDimensions()"><mat-icon>screen_rotation</mat-icon></button>
                    </span>
                    <br>
                    <br>
                    <mat-form-field class="form-space" appearance="outline">
                        <mat-label>Margins (in)</mat-label>
                        <input matInput [(ngModel)]="margins" type="number" (ngModelChange)="calculateGrid()">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Size of QR Codes (in)</mat-label>
                        <input matInput [(ngModel)]="qrSize" type="number" (ngModelChange)="calculateGrid()">
                    </mat-form-field>
                    <div>The result will be {{calculatedRows}} rows by {{calculatedColumns}} columns.</div>
                </div>              
                
                <div class="information-separator-large">
                    <mat-form-field appearance="outline">
                        <mat-label>Override Font Size</mat-label>
                        <input matInput [(ngModel)]="overrideFontSize" type="number" (ngModelChange)="updateFontSize()">
                        <mat-hint *ngIf="!overrideFontSize">Current font size is {{calculatedFontSize}}</mat-hint>
                    </mat-form-field>
                </div>

                <div class="information-separator-large">
                    <div class="input-space"> Link item QRs to: </div>
                    <mat-radio-group class="radio-button-group" [value]="linkQRTo">
                        <mat-radio-button value="item" class="input-space" (click)="setupTextForQRs(false)">Item itself</mat-radio-button>
                        <mat-radio-button value="bin" class="input-space" (click)="setupTextForQRs(true)">Bin number</mat-radio-button>
                    </mat-radio-group>
                </div>

                <div class="information-separator-large">
                    <div class="input-space"> What will be printed: </div>
                    <mat-radio-group class="radio-button-group" [(ngModel)]="textToPrint">
                        <mat-radio-button value="QR-N" class="input-space">QR, Item name</mat-radio-button> <br>
                        <mat-radio-button value="QR-B" class="input-space">QR, Bin ID</mat-radio-button> <br>
                        <mat-radio-button value="QR-B-N" class="input-space">QR, Bin ID, Item name</mat-radio-button> <br>
                        <mat-radio-button value="QR" class="input-space">Just QRs</mat-radio-button>
                    </mat-radio-group>
                </div>

                <button mat-raised-button class="big-button action-color button-space" (click)="printPDF()" [disabled]="!checkReady()"><mat-icon>print</mat-icon> Print </button>
                <button mat-raised-button class="big-button action-color-dark" (click)="saveTemplate()" [disabled]="!checkReady()"><mat-icon>save</mat-icon> Save as Template </button>

                
                <div class="QR-code-holder">
                    <div *ngFor="let item of itemsInQueue; index as i">
                        <qrcode [attr.id]="'qrCode' + i" [qrdata]="item.QRtext" [width]="256" [errorCorrectionLevel]="item.QRtext.charAt(1) === 'b' ? 'H' : 'Q'"></qrcode>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>
