

.tab-content {
  width: 100%;
  background-color: white !important;
}

.item-list {
  max-width: 100%;
  width: 540px;
  margin: 0 auto;
  background-color: #DDD;
}

.item-list-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  padding: 10px 10px 4px;
}

.item-list-header-name {
  padding-left: 12px;
}

.item-list-header-selection {
  min-width: 124px;
  display: flex;
  justify-content: space-around;
}

.item-line {
  line-height: 24px;
  padding: 4px 8px;
  margin: 2px;
  border-radius: 4px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-checkbox {
  margin: 0 12px;
}

.item-checkbox-container {
  min-width: 120px;
}

.page-setup {
  max-width: calc(100vw - 48px);
  width: 540px;
  margin: 0 auto;
  background-color: white;
  padding: 24px;
}

.radio-button-group {
  max-width: 90vw;
}

.input-space {
  margin-right: 24px;
  margin-bottom: 12px;
}

.QR-code-holder {
  margin: 0 auto;
  width: 256px;
  display: none;
}

.form-space {
  margin-right: 18px;
}

.information-separator-small {
  margin-bottom: 18px;
}

.information-separator-large {
  margin-bottom: 36px;
}

.add-qr-range-container {
  background-color: white;
  padding: 10px 10px 4px;
}

.bin-form {
  max-width: 84px;
}