<!--Search Bar-->
<form class="search" (submit)="null">
  <mat-form-field class="full-width">
    <input type="text" placeholder="Search in {{(root && root.name !== 'root')? root.name : selectedSearch}}" matInput [formControl]="control" (ngModelChange)="searchTextChange($event)" (submit)="null"> <!--[matAutocomplete]="auto"-->
    <button type="button" mat-button *ngIf="control.value" matSuffix mat-icon-button aria-label="Clear" (click)="control.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</form>
<mat-button-toggle-group class="hierarchySelector" *ngIf="!root || root?.name === 'root'" [(value)]="selectedSearch" name="hierarchySelector" (change)="toggleHierarchy($event)">
  <mat-button-toggle value="Categories">Category</mat-button-toggle>
  <mat-button-toggle value="Locations">Location</mat-button-toggle>
</mat-button-toggle-group>
<!--Hierarchy Items-->
<div *ngIf="hierarchyItems && hierarchyItems.length > 0" (window:resize)="onResize($event)">
  <!--Show header if there are both items and hierarchies or if there is no toggle-->
  <div class="header" *ngIf="(items && items.length > 0) || (root && root.name != 'root')">{{selectedSearch}}</div>
  <mat-grid-list class="row" [cols]="columns" rowHeight="10em">
    <mat-grid-tile class="holder" *ngFor="let hierarchyItem of hierarchyItems">
      <div class="element" (click)="goToHierarchy(hierarchyItem)">
        <div class="hierarchy image" [ngStyle]="{'background-image': 'url(' + hierarchyItem.imageUrl + ')'}"></div>
        <div class="text">{{hierarchyItem.name}}</div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<!--Items-->
<div *ngIf="items && items.length > 0">
  <div class="header" *ngIf="hierarchyItems && hierarchyItems.length > 0">Items</div>
  <mat-grid-list class="row" [cols]="columns" rowHeight="10em">
    <mat-grid-tile class="holder" *ngFor="let item of items">
      <div class="element" (click)="goToItem(item)">
        <div class="item image" [ngStyle]="{'background-image': 'url(' + item.imageUrl + ')'}"></div>
        <div class="text">{{item.name}}</div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<!-- add homescreen fab for admins here -->
<smd-fab-speed-dial class="fab" [(open)]="open" [direction]="direction" [animationMode]="animation">
  <smd-fab-trigger [spin]="spin">
    <button mat-fab matTooltip="Add to this hierarchy level" color="primary" (click)="toggleIco()"><mat-icon>{{ico}}</mat-icon></button>
  </smd-fab-trigger>
  <smd-fab-actions>
    <button mat-mini-fab matTooltip="Add item" color="primary" (click)="addItem()"><mat-icon>post_add</mat-icon></button>
    <!-- <button mat-mini-fab matTooltip="Add hierarchy level" color="primary" (click)="addHierarchy()"><mat-icon>account_tree</mat-icon></button> -->
  </smd-fab-actions>
</smd-fab-speed-dial>
