.search {
  width: 90%;
  margin: 5px auto 0;
}

.full-width {
  width: 100%;
}

mat-button-toggle-group {
  width: 90%;
  left: 5%;
}

mat-button-toggle {
  width: 100%;
}

.image {
  background: 50% 50% no-repeat;
  background-size: cover;
  width: 5.5em;
  height: 5.5em;
  border: dimgray 1px solid;
  margin: auto;
}

.item.image {
  border-radius: 2px;
}

.hierarchy.image {
  border-radius: 50%;
}

.element {
  width: 95%;
  height: 95%;
  font-size: 100%;
}

.text {
  text-align: center;
  padding: 0% 0.3em;
}

.header {
  padding: 1em;
  font-weight: bold;
}

.hierarchySelector {
  margin: 0 0% 3% 0%;
}

.mat-fab {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  z-index: 1;
}

.top {
  max-width: calc(30rem + 30vw);
  position: center;
  margin: 0.5rem auto auto auto;
}
