.search {
  margin: 5px auto 0;
}

.full-width {
  width: 100%;
}

mat-button-toggle-group {
  width: 100%;
}

mat-button-toggle {
  width: 100%;
}

.image {
  background: 50% 50% no-repeat;
  background-size: cover;
  width: 5rem;
  height: 65%;
  margin: auto;
}

.item.image {
  width: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.hierarchy.image {
  width: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.element {
  width: 95%;
  height: 95%;
}

p {
  text-align: center;
  font-size: 100%;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header {
  padding: 1rem 0.4rem;
  font-weight: bold;
}

.top-components {
  padding: 0 0.4rem;
}

.hierarchySelector {
  margin: 8px 0% 4px 0%;
}

@media screen and (max-width: 599px){
  .hierarchySelector {
    margin: 0 0% 0.05rem 0%;
  }
}

.fab {
  position: fixed;
  bottom: 8vmin;
  right: 6vmin;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  z-index: 1;
  -webkit-box-align: end;
}

.allContent {
  padding: 0 0.6rem;
  max-width: 60rem;
  position: center;
  margin: 0.5rem auto auto auto;
}

mat-card {
  padding: 0;
  width: 92%;
  height: 92%;
}

.hierarchyCard {
  border-radius: 16px;
}

mat-card-content {
  padding: calc(5% - 0.1rem) calc(0.2rem + 6%) ;
}

.extended-fab-button {
  align-items: flex-end;
  position: relative;
  padding: 0 0.8rem;
  border-radius: 10rem;
  pointer-events: none;
  visibility: hidden;
}

.extended-fab-button__text {
  font-weight: 400;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-overflow: clip;
}

.middle-man {
  -webkit-box-align: end;
}

.item-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-progress-bar {
  margin-top: -24px;
}

/* mat-form-field {
  max-width: 480px;
  min-width: 240px;
} */