.search {
  margin: 5px auto 0;
}

.full-width {
  width: 100%;
}

mat-button-toggle-group {
  width: 100%;
}

mat-button-toggle {
  width: 100%;
}

.image {
  background: 50% 50% no-repeat;
  background-size: cover;
  width: 5rem;
  height: 60%;
  margin: auto;
}

.item.image {
  width: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.hierarchy.image {
  width: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.element {
  width: 95%;
  height: 95%;
}

p {
  text-align: center;
  font-size: 100%;
}

.header {
  padding: 1em;
  font-weight: bold;
}

.hierarchySelector {
  margin: 0 0% 3% 0%;
}

.mat-fab {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  z-index: 1;
}

.allContent {
  padding: 0 0.6rem;
  max-width: 50rem;
  position: center;
  margin: 0.5rem auto auto auto;
}

mat-card {
  padding: 0;
  width: 90%;
  height: 90%;
}

mat-card-content {
  padding: calc(0.1rem + 4%) calc(0.2rem + 6%) ;
}