<div mat-dialog-content>

    <!-- Select which type of report -->
    <div *ngIf="step === 'start'">
        <h1 mat-dialog-title>What kind of Report?</h1>
        <button mat-raised-button color="warn" class="big-button report-button" [disabled]="loadingAdmins || reportLowDisabled || !canReport" (click)="setupAutoReport('low')">
            <mat-icon *ngIf="!loading.low"> report_problem </mat-icon>
            <span *ngIf="!loading.low"> 
                Report Low
            </span>
            <mat-spinner *ngIf="loading.low" [diameter]="24" class="report-spinner" color="white"></mat-spinner>
        </button>
        <div *ngIf="reportLowDisabled && !reportEmptyDisabled" class="disabled-report-text">
            This item has already been reported as low in the last 12 hours.
        </div>
        <button mat-raised-button class="big-button report-button empty-button" [disabled]="loadingAdmins || reportEmptyDisabled || !canReport" (click)="setupAutoReport('empty')">
            <mat-icon *ngIf="!loading.empty"> report_problem </mat-icon>
            <span *ngIf="!loading.empty"> 
                Report Empty
            </span>
            <mat-spinner *ngIf="loading.empty" [diameter]="24" class="report-spinner" color="white"></mat-spinner>
        </button>
        <div *ngIf="reportEmptyDisabled" class="disabled-report-text">
            This item has already been reported as empty in the last 12 hours.
        </div>
        <br>
        <br>
        <button mat-raised-button class="big-button action-color report-button" (click)="onNextClick()" [disabled]="!canReport">
            <mat-spinner *ngIf="loading.custom" [diameter]="24" class="report-spinner" color="white"></mat-spinner>
            <div *ngIf="!loading.custom"> Custom... </div>
        </button>
        <div *ngIf="!canReport" class="disabled-report-text">
            All locations have had 3 reports in the last 12h.
        </div>
    </div>

    <!-- Where to report to -->
    <div *ngIf="step === 'where'">
        <h1 mat-dialog-title>Which place are you reporting for?</h1>
        <div *ngFor="let locationWithData of locationData">
            <mat-card class="hierarchyCard" (click)="setLocation(locationWithData.location.ID)" *ngIf="locationWithData.canReport && locationWithData." [class.mat-elevation-z2]="true">
                <div class="hierarchycard-content">
                    <div class="hierarchy image" [ngStyle]="{'background-image': 'url(' + location.imageUrl + ')'}"></div>
                    <div class='hierarchy-text'>
                        <div class="hierarchy-title-text-positioner"><div class="hierarchy-title-text"><div>{{location.name}}</div></div></div>
                        <div class="hierarchy-desc-text">{{location.desc ? location.desc : ' '}}</div>
                    </div>
                </div>
            </mat-card>
            <mat-card *ngIf="reportsInLast12HPerLocation.get(location.ID) >= 3" class="hierarchyCard disabled-card" (click)="setLocation('none')" [class.mat-elevation-z2]="true">
                <div class="hierarchycard-content">
                    <div class="hierarchy image" [ngStyle]="{'background-image': 'url(' + location.imageUrl + ')'}"></div>
                    <div class='hierarchy-text'>
                        <div class="hierarchy-title-text-positioner"><div class="hierarchy-title-text"><div>{{location.name}}</div></div></div>
                        <div class="hierarchy-desc-text disabled-location-text">Too many reports in 12h.</div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>

    <!-- Who to report to -->
    <div *ngIf="step === 'who'">
        <h1 mat-dialog-title>Who will recieve this report?</h1>
        <app-user-select class="user-select" [selectedUsers]="selectedAdmins" [allUsers]="admins"></app-user-select>
        <div mat-dialog-actions>
            <button mat-raised-button (click)="onCancelClick()">Cancel</button>
            <span class="btn-spacer"></span>
            <button mat-raised-button class="action-color" (click)="onNextClick()">Next</button>
        </div>
    </div>

    <!-- Add text, finish -->
    <div *ngIf="step === 'text'">
        <h1 mat-dialog-title>Enter Report Details</h1>
    
        <mat-form-field class="report-text-full-width">
            <textarea matInput class="report-textarea" placeholder="Report Description" [(ngModel)]="description"></textarea>
        </mat-form-field>
    
        <div mat-dialog-actions>
            <button mat-raised-button (click)="onCancelClick()">Cancel</button>
            <span class="btn-spacer"></span>
            <button mat-raised-button class="action-color-dark" (click)="onSendClick()">
                <mat-icon> report_problem </mat-icon>
                Send
            </button>
        </div>
    </div>

</div>