<div mat-dialog-content>

    <!-- Select which type of report -->
    <div *ngIf="step === 'start'">
        <h1 mat-dialog-title>What kind of report?</h1>
        
        <div *ngFor="let report of reportTypes">
            <app-report-select [template]="report.reportStructure" [type]="report.type" [disabled]="report.alreadyReportedLocations && report.alreadyReportedLocations.length === data.item.locations.length" (buttonClick)="setupReport($event)"></app-report-select>
        </div>
    </div>

    <!-- Where to report to -->
    <div *ngIf="step === 'where'">
        <h1 mat-dialog-title>Which place are you reporting for?</h1>
        <div *ngFor="let locationWithData of locationData">
            <mat-card class="hierarchyCard" (click)="setLocation(locationWithData.location.ID)" *ngIf="locationWithData.canReport && !locationWithData.canNotAutoReport" [class.mat-elevation-z2]="true">
                <div class="hierarchycard-content">
                    <div class="hierarchy image" [ngStyle]="{'background-image': 'url(' + locationWithData.location.imageUrl + ')'}"></div>
                    <div class='hierarchy-text'>
                        <div class="hierarchy-title-text-positioner"><div class="hierarchy-title-text"><div>{{locationWithData.location.name}}</div></div></div>
                        <div class="hierarchy-desc-text">{{locationWithData.location.desc ? locationWithData.location.desc : ' '}}</div>
                    </div>
                </div>
            </mat-card>
            <mat-card *ngIf="!locationWithData.canReport || locationWithData.canNotAutoReport" class="hierarchyCard disabled-card" [class.mat-elevation-z2]="true">
                <div class="hierarchycard-content">
                    <div class="hierarchy image" [ngStyle]="{'background-image': 'url(' + locationWithData.location.imageUrl + ')'}"></div>
                    <div class='hierarchy-text'>
                        <div class="hierarchy-title-text-positioner"><div class="hierarchy-title-text"><div>{{locationWithData.location.name}}</div></div></div>
                        <div *ngIf="!locationWithData.canReport" class="hierarchy-desc-text disabled-location-text">Too many reports in 12h.</div>
                        <div *ngIf="locationWithData.canReport" class="hierarchy-desc-text disabled-location-text">This has already been reported as {{type}}.</div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div mat-dialog-actions>
            <button mat-raised-button class="big-button dialog-button" (click)="onCancelClick()">Cancel</button>
        </div>
    </div>

    <!-- Who to report to -->
    <div *ngIf="step === 'who'">
        <h1 mat-dialog-title>Who will recieve this report?</h1>
        <app-user-select class="user-select" [selectedUsers]="selectedAdmins" [allUsers]="admins"></app-user-select>
        <div mat-dialog-actions class="report-button-wrapper">
            <button mat-raised-button class="big-button dialog-button" (click)="onCancelClick()">Cancel</button>
            <span class="btn-spacer"></span>
            <button mat-raised-button class="big-button action-color dialog-button" (click)="onNextClick()">Next</button>
        </div>
    </div>

    <!-- Add text, finish -->
    <div *ngIf="step === 'text'">
        <h1 mat-dialog-title>Enter Report Details</h1>
    
        <mat-form-field class="report-text-full-width">
            <textarea matInput class="report-textarea" placeholder="Report Description" [(ngModel)]="description"></textarea>
        </mat-form-field>
    
        <div mat-dialog-actions class="report-button-wrapper less-padding">
            <button mat-raised-button class="big-button dialog-button" (click)="onCancelClick()">Cancel</button>
            <span class="btn-spacer"></span>
            <button mat-raised-button class="big-button action-color-dark dialog-button" (click)="onSendClick()">
                Send
            </button>
        </div>
    </div>

    <!-- For low report -->
    <div *ngIf="input && step === 'template'">
        <h1 mat-dialog-title> {{input.name}} </h1>
        <div>  {{input.description}} </div>

        <br>

        <div class="low-report">
            <mat-form-field *ngIf="input.type === 'number'">
                <mat-label> Enter Number </mat-label>
                <input matInput type="number" pattern="\d*" [(ngModel)]="userFormFieldInput"/>
            </mat-form-field>

            <mat-form-field *ngIf="input.type === 'text'">
                <mat-label> Enter Text </mat-label>
                <input matInput [(ngModel)]="userFormFieldInput"/>
            </mat-form-field>

            <!--button mat-raised-button class="big-button action-color-dark low-send-button" (click)="sendLowReport()" [disabled]="!lowAmount || lowAmount < 0">
                <mat-spinner *ngIf="loading.custom" [diameter]="24" class="report-spinner" color="white"></mat-spinner>
                <div *ngIf="!loading.custom"> Send </div>
            </button-->
        </div>

        <div mat-dialog-actions class="report-button-wrapper">
            <button mat-raised-button class="big-button dialog-button" (click)="onCancelClick()">
                Cancel
            </button>
            <span class="btn-spacer"></span>

            <button mat-raised-button *ngIf="reportTemplate.userInput.length <= (inputIndex+1)" class="big-button action-color-dark dialog-button" (click)="sendTemplateReport()">
                Send
            </button>
            <button mat-raised-button *ngIf="reportTemplate.userInput.length > (inputIndex+1)" class="big-button action-color dialog-button" (click)="nextInput()">
                Next
            </button>
        </div>
    </div>

</div>