<h1 mat-dialog-title>Enter Report Details</h1>
<div mat-dialog-content>
    <app-report-to></app-report-to>

    <mat-form-field class="report-text-full-width">
        <textarea matInput placeholder="Report Description" [(ngModel)]="data.desc"></textarea>
    </mat-form-field>
    <div mat-dialog-actions>
        <button mat-raised-button (click)="onCancelClick()">Cancel</button>
        <span class="btn-spacer"></span>
        <button mat-raised-button color="primary" (click)="onSendClick()">Send</button>
    </div>
</div>