<h1 mat-dialog-title class="light-text">Report Details</h1>
<mat-dialog-content class="reportText">
    
    <div class="label-text light-text">Item</div> 
    <b>{{data.reportData.itemName}} </b>

    <div class="label-text light-text">Report Message</div> 
    <b>{{data.reportData.reportDesc}} </b>
    
    <br><br>

    <div class="label-text light-text">Reported at</div>
    <div class="metadata-text">{{data.reportData.time}}</div> 

    <div class="label-text light-text">User</div>
    <div class="metadata-text">{{data.reportData.reporterName}}</div> 

</mat-dialog-content>



<div mat-dialog-actions>
    <button mat-raised-button (click)="onCancelClick()">Back</button>
    <span class="btn-spacer"></span>
    <button mat-raised-button (click)="goToItem()">Go to Item</button>
    <span class="btn-spacer"></span>
    <button mat-raised-button color="primary" (click)="onSendClick()">Problem Solved</button>
</div>
