button {
  margin: 0 8px 16px 0;
}

.reportText {
  margin-bottom: 1.2rem;
}

.btn-spacer {
  flex: 1 1 auto;
}

.item-name {
  margin-top: -16px;
}

.label-text {
  font-size: 14px;
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 2px;
}
