<h1 mat-dialog-title class="light-text">Report Details</h1>
<mat-dialog-content class="reportText">
    <h3 class="item-name">
        <div class="label-text light-text">Item</div>
        {{data.reportData.itemName}}
        <!--span class="light-text" *ngIf="data.location">
            in {{ data.location }}
        </span-->
    </h3>

    <div class="label-text light-text">Report Message</div> 
    <b>{{data.reportData.reportDesc}} </b>
    <br>
    <br>

    <div class="label-text light-text">Reported at</div>
    <div>{{data.reportData.time}}</div> 

    <div class="label-text light-text">User</div>
    <div>{{data.reportData.reporterName}}</div> 
</mat-dialog-content>



<div mat-dialog-actions>
    <button mat-raised-button (click)="onCancelClick()">Back</button>
    <span class="btn-spacer"></span>
    <button mat-raised-button (click)="goToItem()">Go to Item</button>
    <span class="btn-spacer"></span>
    <button mat-raised-button color="primary" (click)="onSendClick()">Problem Solved</button>
</div>
