<mat-form-field>
    <mat-label>{{data.fieldName}}</mat-label>
    <textarea matInput #value class="textarea"
    type="text"
    [value]="data.value"
    (keyup)="setValue(value.value)"
    (keyup.enter)="submit()"></textarea>
</mat-form-field>

<div *ngIf="data.description">
    <br>
    <small>
        {{data.description}}
    </small>
</div>

<br>

<div class="action-buttons">
    <button mat-raised-button class="rect-action-button" (click)="cancel()">Cancel</button>
    <button mat-raised-button class="rect-action-button structure-color" (click)="submit()"> Confirm </button>
</div>
