<div class="allContent" *ngIf="hierarchyItem">
  <img class="responsive-item-image container-img" src={{hierarchyItem.imageUrl}} layout-fit>
  <div class="info-content">
    <button mat-mini-fab *ngIf="this.role === 'Admin'" color="accent" class="camera-button" (click)="camera.click()"><mat-icon>photo_camera</mat-icon></button>
    <input hidden type="file" accept=".jpg,.jpeg,.png;capture=camera" #camera (change)='uploadImage($event)'/>
    <div [ngSwitch]="this.textEditFields.name">
      <div *ngSwitchCase=true>
        <form (ngSubmit)="onNameSubmit()">
          <mat-form-field class="form-appear">
              <input matInput #name type="text"
              placeholder="Name"
              [(ngModel)]="hierarchyItem.name"
              name="name"
              (focus)="previousName = hierarchyItem.name"
              (focusout)="onNameSubmit()"
              required
              >
              <!-- <button mat-button *ngIf="hierarchyItem.name" matSuffix mat-icon-button aria-label="Clear" (click)="hierarchyItem.name=''">
                <mat-icon>close</mat-icon>
              </button> -->
          </mat-form-field>
          <button mat-icon-button class="fake-confirm-button"><mat-icon>done</mat-icon></button>
        </form>
      </div>
      <div class="titleHolder" *ngSwitchDefault>
        <h2>
          {{hierarchyItem.name}}
          <button mat-icon-button class="editButton" *ngIf="this.role === 'Admin'" (click)="editField('name')"><mat-icon>edit</mat-icon></button>
        </h2>
      </div>
    </div>

    <!-- Description -->
    <div [ngSwitch]="this.textEditFields.desc">
      <!-- If we are editing, display text form -->
      <div *ngSwitchCase=true>
        <form (ngSubmit)="onDescSubmit()" class="form-appear">
            <mat-form-field class="form-appear">
                <textarea matInput #desc type="text"
                placeholder="Desc"
                [(ngModel)]="hierarchyItem.desc"
                name="desc"
                (focusout)="onDescSubmit()"
                required
                ></textarea>
            </mat-form-field>
        </form>
      </div>
      <!-- Otherwise, display the description or "no description" with edit button -->
      <div *ngSwitchDefault>
        <div *ngIf="hierarchyItem.desc">
          {{ hierarchyItem.desc }} 
          <button mat-icon-button class="editButton" *ngIf="this.role === 'Admin'" (click)="editField('desc')"><mat-icon>edit</mat-icon></button>
        </div>
        <div *ngIf="!hierarchyItem.desc">
          <span class="light-text">( No Description )</span> 
          <button mat-icon-button class="editButton" *ngIf="this.role === 'Admin'" (click)="editField('desc')"><mat-icon>edit</mat-icon></button>
        </div>
      </div>
    </div>

    <br>
    <!--
    <mat-card>
      <mat-card-header>
          <mat-card-title>Description <button mat-icon-button class="editButton" *ngIf="this.role === 'Admin'" (click)="editField('desc')"><mat-icon>edit</mat-icon></button></mat-card-title>
      </mat-card-header>
      <mat-card-content class="form-appear">
          <div [ngSwitch]="this.textEditFields.desc">
              <div *ngSwitchCase=true>
                  <form (ngSubmit)="onDescSubmit()" class="form-appear">
                      <mat-form-field class="form-appear">
                          <textarea matInput #desc type="text"
                          placeholder="Desc"
                          [(ngModel)]="hierarchyItem.desc"
                          name="desc"
                          (focusout)="onDescSubmit()"
                          required
                          ></textarea>
                      </mat-form-field>
                  </form>
              </div>
              <div *ngSwitchDefault><p>{{hierarchyItem.desc}}</p></div>
          </div>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
    -->
    <div *ngIf="hierarchyItem.type === 'category'">
      <br>
      <mat-card class="attributes-card" [class.mat-elevation-z0]="true">
        <mat-card-content>
          <h2>Attributes:</h2>
          <br>
          <mat-accordion>

            <mat-expansion-panel disabled *ngFor="let inheritAttr of inheritedAttributes">
              <mat-expansion-panel-header>
                <mat-panel-title class="attribute-data">
                  {{inheritAttr.attribute.name}}
                </mat-panel-title>
                <mat-panel-description class="attribute-data">
                  {{inheritAttr.categoryName}}
                </mat-panel-description>
              </mat-expansion-panel-header>
            </mat-expansion-panel>

            <mat-expansion-panel *ngFor="let attr of localAttributes" [expanded]="attr.opened">
              <mat-expansion-panel-header>
                <mat-panel-title class="attribute-data">
                  {{attr.name}}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <!--mat-form-field> Should not change the name - variables are dependent on this.
                <mat-label>New name:</mat-label>
                <input matInput #rename
                type="text"
                (focusout)="onAttrNameSubmit(attr.name, rename)">
              </mat-form-field>
              <button mat-icon-button class="fake-confirm-button"><mat-icon>done</mat-icon></button>
              <br-->
              <mat-form-field appearance="fill" class="attribute-select-form">
                <mat-label class="attribute-select-label">Attribute Type</mat-label>
                <mat-select [(value)]="attr.type">
                  <mat-option value="text" (click)="setAttributeType(attr.name, 'text')"> Custom Text </mat-option>
                  <mat-option value="options" (click)="setAttributeType(attr.name, 'options')"> Options </mat-option>
                </mat-select>
              </mat-form-field>
              <br>
              <div *ngIf="this.role === 'Admin' && attr.type === 'options'">
                <button mat-raised-button class="structure-color" (click)="openAttributeOptionsModal(attr.name)"> Edit Options </button>
                <br>
              </div>
              <br>
              <button mat-button *ngIf="this.role === 'Admin'" color="warn" (click)="deleteAttribute(attr.name)">Delete</button>
            </mat-expansion-panel>
          </mat-accordion>

          <button mat-raised-button color="accent" class="addButton" *ngIf="this.role === 'Admin'" (click)="addAttribute()"><mat-icon class="plus-icon">add</mat-icon>Add Attribute</button>
        </mat-card-content>
      </mat-card>
      <br>
      <mat-card class="attributes-card" *ngIf="this.role === 'Admin'" [class.mat-elevation-z0]="true">
        <mat-card-content>
          <h2>Automatic Item Prefix:</h2>
          <br>
          <mat-form-field>
            <mat-label>Prefix:</mat-label>
            <input matInput #prefix
            type="text"
            [(ngModel)]="hierAsCategory.prefix"
            (focus)="textEditFields.prefix = true"
            (focusout)="onPrefixSubmit(prefix)">
          </mat-form-field>
          <button mat-icon-button class="fake-confirm-button" *ngIf="textEditFields.prefix"><mat-icon>done</mat-icon></button>
        </mat-card-content>
      </mat-card>
      <br>
      <mat-card class="attributes-card" *ngIf="this.role === 'Admin'" [class.mat-elevation-z0]="true">
        <mat-card-content>
          <h2>Automatic Item Suffix:</h2>
          <br>
          <!-- Drag and drop attributes -->
          <div cdkDropList (cdkDropListDropped)="drop($event)">
            <div *ngFor="let suffix of hierAsCategory.titleFormat; index as i" class="suffix-card" [class.mat-elevation-z2]="true" cdkDrag>
                <div *ngIf="suffix.type === 'attribute layer'" class="suffix-text">
                  {{ suffix.data }} <small class="light-text"> (attribute layer) </small>
                </div>
                <div *ngIf="suffix.type === 'attribute'" class="suffix-text">
                  {{ suffix.data }} <small class="light-text"> (attribute) </small>
                </div>
                <div *ngIf="suffix.type === 'space'" class="suffix-text">
                  <small class="light-text"> (space) </small>
                </div>
                <div *ngIf="suffix.type === 'parent'" class="suffix-text">
                  Parent Suffix
                </div>
                <div *ngIf="suffix.type === 'text'" class="suffix-text">
                  {{ suffix.data }} <small class="light-text"> (text) </small>
                </div>

                <button mat-icon-button (click)="deleteAttributeSuffix(i)"><mat-icon>delete</mat-icon></button>
            </div>
          </div>
          <button mat-raised-button color="accent" class="addButton" (click)="addAttributeSuffix()"><mat-icon class="plus-icon">add</mat-icon>Add Attribute Suffix</button>
        </mat-card-content>
      </mat-card>
    </div>

    <br>
    <h2>Inside of: <button mat-icon-button class="editButton" *ngIf="this.role === 'Admin'" (click)="editHierarchy()"><mat-icon>edit</mat-icon></button></h2>
    <app-ancestor-view [parentsOf]="hierarchyItem"></app-ancestor-view>
    <br>
    <br>
    <button mat-button *ngIf="this.role === 'Admin'" color="warn" (click)="requestDelete()">Delete</button>
  </div>  
</div>

<button mat-mini-fab class="extended-fab-button" *ngIf="this.role === 'Admin' && this.getDirty()" @open-undo-fab matTooltip="Undo" color="accent" (click)="undoChanges()">
  <mat-icon>edit</mat-icon><span class="extended-fab-button__text">Revert</span>
</button>

<div *ngIf="!loaded" style="padding: 18px;">
  <h3 *ngIf="isCategory">Loading category...</h3>
  <h3 *ngIf="!isCategory">Loading location...</h3>
</div>

<div *ngIf="loaded && !hierarchyItem" style="padding: 18px;">
  <h3 *ngIf="isCategory">This category does not exist or was removed.</h3>
  <h3 *ngIf="!isCategory">This location does not exist or was removed.</h3>
</div>