.responsive-item-image {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    object-fit: contain;
  }
  
  .camera-button {
    position: absolute;
    top: 2%;
    right: 2%;
  }

  .file-button {
    position: absolute;
    top: calc(2% + 52px);
    right: 2%;
  }
  
  .image-block {
    position: relative;
  }
  
  h2 {
    margin: 0 0.2rem;
    padding-top: 1rem;
  }
  
  .titleHolder {
    padding-bottom: 0.2rem;
  }
  
  .form-appear {
    width: 100%;
  }
  
  .editButton {
    float: end;
    top: -0.3rem;
    left: -0.3rem;
  }

  .allContent {
    padding: 0.4rem 2vw 3rem 2vw;
    max-width: 32rem;
    position: center;
    margin: auto;
  }

  .mat-fab {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 100;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .mat-card{
    margin-top: 1px;
  }

  .attributes-card{
    border: 1px solid #DDD
  }

  .plus-icon {
    float: left;
    margin-top: 5px;
    margin-right: 2px;
  }

  .addButton {
    margin-top: 8px;
  }

  .save-spinner {
    position: absolute;
    top: -20px;
    right: -22px;
    color: white;
  }

  .mat-form-field {
    font-size: 20px;
    padding-bottom: 8px;
    width: 85%;
  }
  
  
.fake-confirm-button {
  float: inline-end;
  position: relative;
  top: 0px;
  left: 4px;
}