.responsive-item-image {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    object-fit: contain;
  }
  
  .camera-button {
    position: absolute;
    top: 2%;
    right: 2%;
  }

  .file-button {
    position: absolute;
    top: calc(2% + 52px);
    right: 2%;
  }
  
  .image-block {
    position: relative;
  }
  
  h2 {
    margin: 0 0.2rem;
    padding-top: 1rem;
  }
  
  .titleHolder {
    padding-bottom: 0.2rem;
  }
  
  .form-appear {
    width: 100%;
  }
  
  .editButton {
    float: end;
    top: -0.3rem;
    left: -0.3rem;
  }

  .allContent {
    padding: 0.4rem 2vw 3rem 2vw;
    max-width: 32rem;
    position: center;
    margin: auto;
  }

  .mat-fab {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 100;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .mat-card{
    margin-top: 1px;
  }

  .attributes-card{
    border: 1px solid #DDD
  }

  .plus-icon {
    float: left;
    margin-top: 5px;
    margin-right: 2px;
  }

  .addButton {
    margin-top: 8px;
  }

  .save-spinner {
    position: absolute;
    top: -20px;
    right: -22px;
    color: white;
  }

  .mat-form-field {
    font-size: 20px;
    padding-bottom: 8px;
    width: calc(90% - 24px);
  }

  p {
    margin: 4px 16px 14px 16px;
    font-size: 18px;
  }
  
  
.fake-confirm-button {
  float: inline-end;
  position: relative;
  top: 0px;
  left: 4px;
}

.extended-fab-button {
  padding: 0 0.8rem;
  border-radius: 10rem;
  width: 132px;
  position: fixed;
  top: 8px;
  left: 10px;
  z-index: 10;
}

.extended-fab-button__text {
  font-weight: 400;
  letter-spacing: .1em;
  font-size: 14px;
  text-transform: uppercase;
  text-overflow: clip;
  padding-left: 10px;
}

.character-input {
  max-width: calc(90% - 24px);
  width: 240px;
  margin-top: -10px;
}

.attribute-select {
  font-size: 16px;
}

.attribute-select-form {
  max-width: 100%;
  width: 240px;
  padding-bottom: 0;
}

.attribute-select-label {
  font-size: 16px;
}

.down-button {
  margin-left: 6px;
}

.suffix-control-buttons {
  display: flex;
  justify-content: space-between;
}

.suffix-card {
  margin-bottom: 6px;
}

.suffix-attribute-title {
  padding-top: 6px;
}

.fake-confirm-button {
  float: inline-end;
  position: relative;
  top: 0px;
  left: 4px;
}

@media screen and (min-width: 600px){
  .extended-fab-button {
    top: 12px;
    left: 12px;
  }
  
}