<div class="allContent" *ngIf="hierarchyItem">
    <div [ngSwitch]="this.textEditFields.name">
      <div *ngSwitchCase=true>
        <form (ngSubmit)="onNameSubmit()">
          <mat-form-field class="form-appear">
              <input matInput #name type="text"
              placeholder="Name"
              [(ngModel)]="hierarchyItem.name"
              name="name"
              (focusout)="onNameSubmit()"
              required
              >
              <!-- <button mat-button *ngIf="hierarchyItem.name" matSuffix mat-icon-button aria-label="Clear" (click)="hierarchyItem.name=''">
                <mat-icon>close</mat-icon>
              </button> -->
          </mat-form-field>
          <button mat-icon-button class="fake-confirm-button"><mat-icon>done</mat-icon></button>
        </form>
      </div>
      <div class="titleHolder" *ngSwitchDefault>
        <h2>
          {{hierarchyItem.name}}
          <button mat-icon-button class="editButton" *ngIf="this.role === 'Admin'" (click)="editField('name')"><mat-icon>edit</mat-icon></button>
        </h2>
      </div>
    </div>
    <div class="image-block">
      <img class="responsive-item-image container-img" src={{hierarchyItem.imageUrl}} layout-fit>
      <button mat-mini-fab *ngIf="this.role === 'Admin'" color="accent" class="camera-button"  (click)="camera.click()"><mat-icon>photo_camera</mat-icon></button>
      <button mat-mini-fab *ngIf="this.role === 'Admin'" color="accent" class="file-button"  (click)="uploader.click()"><mat-icon>perm_media</mat-icon></button>
      <!-- hidden item uploader -->
      <input hidden type="file" accept=".jpg,.jpeg,.png" #uploader (change)='uploadImage($event)'/>
      <input hidden type="file" accept=".jpg,.jpeg,.png;capture=camera" #camera (change)='uploadImage($event)'/>
    </div>
    <br>
    <mat-card>
      <mat-card-header>
          <mat-card-title>Description <button mat-icon-button class="editButton" *ngIf="this.role === 'Admin'" (click)="editField('desc')"><mat-icon>edit</mat-icon></button></mat-card-title>
      </mat-card-header>
      <mat-card-content class="form-appear">
          <div [ngSwitch]="this.textEditFields.desc">
              <div *ngSwitchCase=true>
                  <form (ngSubmit)="onDescSubmit()" class="form-appear">
                      <mat-form-field class="form-appear">
                          <textarea matInput #desc type="text"
                          placeholder="Desc"
                          [(ngModel)]="hierarchyItem.desc"
                          name="desc"
                          (focusout)="onDescSubmit()"
                          required
                          ></textarea>
                      </mat-form-field>
                  </form>
              </div>
              <div *ngSwitchDefault><p>{{hierarchyItem.desc}}</p></div>
          </div>
      </mat-card-content>
      <mat-card-actions>
          <!-- edit field -->
      </mat-card-actions>
    </mat-card>
    <div *ngIf="hierarchyItem.type === 'category'">
      <br>
      <mat-card class="attributes-card" [class.mat-elevation-z0]="true">
        <mat-card-content>
          <h2>Attributes:</h2>
          <br>
          <mat-accordion>

            <mat-expansion-panel disabled *ngFor="let inheritAttr of inheritedAttributes">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{inheritAttr.name}}
                </mat-panel-title>
                <mat-panel-description>
                  {{inheritAttr.categoryName}}
                </mat-panel-description>
              </mat-expansion-panel-header>
            </mat-expansion-panel>

            <mat-expansion-panel *ngFor="let attr of attributeNames">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{attr}}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-form-field>
                <mat-label>New name:</mat-label>
                <input matInput #rename
                type="text"
                (focusout)="onAttrNameSubmit(attr, rename)">
              </mat-form-field>

              <button mat-button *ngIf="this.role === 'Admin'" color="warn" (click)="deleteAttribute(attr)">Delete</button>
            </mat-expansion-panel>
          </mat-accordion>

          <button mat-raised-button color="accent" class="addButton" *ngIf="this.role === 'Admin'" (click)="addAttribute()"><mat-icon class="plus-icon">add</mat-icon>Add Attribute</button>
        </mat-card-content>
      </mat-card>
    </div>

    <br>
    <h2>Located In: <button mat-icon-button class="editButton" *ngIf="this.role === 'Admin'" (click)="editHierarchy()"><mat-icon>edit</mat-icon></button></h2>
    <app-ancestor-view [parentsToDisplay]="parentsToDisplay"></app-ancestor-view>
    <button mat-button *ngIf="this.role === 'Admin'" color="warn" (click)="requestDelete()">Delete</button>
  
  <button class="fab" *ngIf="this.role === 'Admin' && getDirty()" @open-save-fab mat-fab color="primary" (click)="saveItem()">
    <mat-icon>save</mat-icon>
    <mat-progress-spinner *ngIf="isSaving" class="save-spinner" mode="indeterminate"></mat-progress-spinner>
  </button>
</div>