.login-title {
  display: flex;
  justify-content: center;
  font-size: xx-large;
}

.login-form {
  justify-content: center;
  margin: auto;
  min-width: 200px;
  width: 40%;
}

.login-card-components {
  display: flex;
  justify-content: center;
}

.login-error {
  display: flex;
  justify-content: center;
  text-emphasis-color: red;
}

.full-width {
  width: 100%;
}

.logo {
  padding: 20px;
  margin: auto;
  min-width: 200px;
  width: 20%;
}
