.login-title {
  display: flex;
  justify-content: center;
}

.login-card-components {
  display: flex;
  justify-content: center;
}

.login-error {
  display: flex;
  justify-content: center;
  text-emphasis-color: red;
}

.full-width {
  width: 100%;
}

.logo {
  padding: 20px;
  margin: auto;
  width: 16rem;
  max-width: 60vw;
}

.logoSVG {
  max-width: 100%;
}


.login-form {
  justify-content: center;
  margin: auto;
  width: 15rem;
  max-width: 80vw;
}

.new-link {
  bottom: 2%;
  right: 2%;
  position: fixed;
}

.forgotText {
  padding-top: 0.2rem;
}
