<h1 mat-dialog-title>Password Change</h1>
<form [formGroup]='changeForm' (ngSubmit)='onSubmit()'>
    <div mat-dialog-content>
        <p>Please enter your old password</p>
        <mat-form-field>
            <input matInput
                placeholder="Old Password"
                type="password"
                formControlName="oldPass"
                [formControl]="oldPass"
                required
            >
            <mat-error *ngIf="oldPass.invalid">Old password is required</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput
                placeholder="New Password"
                type="password"
                formControlName="newPass"
                [formControl]="newPass"
                required
            >
            <mat-error *ngIf="newPass.invalid">New password is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput
                placeholder="Confirm New Password"
                [errorStateMatcher]="crossMatch"
                type="password"
                formControlName="newPassConfirm"
                [formControl]="newPassConfirm"
                required
            >
            <mat-error *ngIf="changeForm.hasError('notEqual')">Passwords <strong>must</strong> match</mat-error>
        </mat-form-field>
        <div mat-dialog-actions>
            <button mat-raised-button (click)="onCancel()">Cancel</button>
            <span class="btn-spacer"></span>
            <button mat-raised-button class="action-color-dark" type='submit' [disabled]="!changeForm.valid" >Change Password</button>
        </div>
    </div>
</form>
