<div class="all-content">

    <div *ngIf="!item"> Loading item... </div>
    
    <div *ngIf="item">


        <!-- Category and Location -->
        <div *ngIf="this.step === 'basic'" class="step-basic">
            <h2 mat-dialog-title> Basic Setup </h2>
            <div class="scrollable">
                <br>
                <h3> Category <button *ngIf="category" mat-icon-button class="editButton" (click)="editCategory()"><mat-icon>edit</mat-icon></button></h3>
                <div *ngIf="category" class="category-container">
                    <img class="categoryImg" src={{category?.imageUrl}}>
                    <div class="category-name">{{category?.ID !== 'root' ? category?.name : 'Unassigned'}}
                        <mat-icon *ngIf="category?.ID == 'root'" class="missing-data-icon">error_outline</mat-icon>
                    </div>
                </div>
                <p *ngIf="!category"> Loading category... </p>
                <br>
                <h3> Locations <button mat-icon-button class="editButton" (click)="editLocation()"><mat-icon>add</mat-icon></button></h3>
                <div *ngFor="let location of locations" class="locations-container">
                    <img class="locationImg" src={{location.imageUrl}}>
                    <div class="location-name">{{location.ID !== 'root' ? location.name : 'Unassigned'}}
                        <mat-icon *ngIf="location.ID == 'root'" class="missing-data-icon">error_outline</mat-icon>
                    </div>
                    <button *ngIf="location.ID !== 'root'" mat-icon-button (click)="removeLocation(location)"><mat-icon>delete</mat-icon></button>
                </div>
                <div *ngIf="!loadingLocations && locations && locations.length === 0">
                    No Locations <mat-icon class="missing-data-icon">error_outline</mat-icon>
                    <br>
                    <br>
                </div>
                <p *ngIf="loadingLocations"> Loading locations... </p>
            </div>
        </div>

        <!-- Bin ID Setup -->
        <div *ngIf="this.step == 'bins'" class="step-bins">
            <h2 mat-dialog-title> 
                Bin IDs 
                <br>
                <small class="light-text"> This step is not required. </small>
            </h2>

            <div class="scrollable">
                <div *ngFor="let binData of binIDData">
                    <div class="locations-container">
                        <img class="locationImg" src={{binData.location.imageUrl}}>
                        <div class="location-name">{{binData.location.ID !== 'root' ? binData.location.name : 'Unassigned'}}
                            <mat-icon *ngIf="binData.location.ID == 'root'" class="missing-data-icon">error_outline</mat-icon>
                        </div>
                    </div>
    
                    <span> {{binData.shelfID}} </span>
                    <span> - </span>
                    <mat-form-field class="bin-form" appearance="outline">
                        <mat-label>Bin #</mat-label>
                        <input 
                        class="shelf-input" 
                        matInput 
                        #binInput
                        type="number" 
                        pattern="\d*"
                        [value]="binData.binNumber"
                        (keyup)="submitBinData(binData, $event.target, false)"
                        >
                    </mat-form-field>
                    <span *ngIf="binInput.value">
                        <span> to </span>
                        <mat-form-field class="bin-form" appearance="outline">
                            <mat-label>Optional</mat-label>
                            <input 
                            class="shelf-input" 
                            matInput 
                            #rangeInput
                            type="number" 
                            pattern="\d*"
                            [value]="binData.rangeNumber"
                            (keyup)="submitBinData(binData, $event.target, true)"
                            >
                        </mat-form-field>
                    </span>
                    
                    <mat-error *ngIf="invalidBinIDErrors[binData.location.ID]">
                        {{ invalidBinIDErrors[binData.location.ID] }}
                        <br>
                        <br>
                    </mat-error>
                    

                    <mat-divider></mat-divider>
                    <br>
                </div>
            </div>
        </div>
        
        <!-- Attributes -->
        <div *ngIf="this.step == 'attributes'" class="step-attributes">
            <h2 mat-dialog-title> Attributes </h2>
            <div class="scrollable">
                <div *ngIf="attributesForCard">
                    <mat-card class="attribute-card" *ngFor="let attrCard of attributesForCard">
                        <!-- <mat-card-header class="attribute-titles">
                            <mat-card-title>{{attrCard.name}}</mat-card-title>
                            <mat-card-subtitle>{{attrCard.category}}</mat-card-subtitle>
                        </mat-card-header> -->
                        <mat-card-content>
                            <mat-form-field *ngIf="attrCard.type === 'text'" class="attribute-input">
                                <mat-label>{{attrCard.name + ":"}}</mat-label>
                                <input matInput #value
                                type="text"
                                [(ngModel)]="attrCard.value"
                                (focus)="attrCard.focused = true"
                                (keyup)="onAttrValueSubmit(attrCard)">
                            </mat-form-field>

                            <div *ngIf="attrCard.type === 'options'">
                                <div *ngIf="attrCard.layerNames">
                                    <b> {{attrCard.name}} </b>
                                    <br>
                                    <br>
                                </div>

                                <mat-form-field *ngFor="let selector of attrCard.selectors; index as selectorIndex" class="attribute-select-form" appearance="fill">
                                    <mat-label class="attribute-select-label">{{(attrCard.layerNames && attrCard.layerNames[selectorIndex] ? attrCard.layerNames[selectorIndex] : attrCard.name) + ":"}}</mat-label>
                                    <mat-select class="attribute-select" [(value)]="selector.selectedValue">
                                        <mat-option *ngFor="let option of selector.options; index as optionIndex" value="{{option.value}}" (click)="onAttrOptionSubmit(attrCard, selectorIndex, optionIndex, option.value)"> {{ option.value }} </mat-option>
                                        <mat-option class="structure-color-light" value="Edit Options..."  (click)="addNewAttributeValue(attrCard)"> Edit Options... </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <!-- I don't think this is needed anymore from better design   <button mat-icon-button class="fake-confirm-button" *ngIf="attrCard.focused"><mat-icon>done</mat-icon></button> -->
                            <span *ngIf="!attrCard.isValid"><mat-icon class="missing-data-icon">error_outline</mat-icon></span>
                            <span *ngIf="attrCard.category === 'None'"><button mat-icon-button class="delete-attribute-button" (click)="deleteAttribute(attrCard)"><mat-icon>delete</mat-icon></button></span>
                            <div *ngIf="attrCard.category !== 'None'" class="attribute-category-text">{{attrCard.category}}</div>
                            <div *ngIf="attrCard.category === 'None'" class="attribute-category-text missing-category">
                                {{attrCard.category}}
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div *ngIf="!attributesForCard || attributesForCard.length == 0" class="no-attributes-text">
                    The item's category has no attributes.
                </div>
            </div>
        </div>


        <!-- Build Title -->
        <div *ngIf="this.step == 'title' && category" class="step-title">
            <h2 mat-dialog-title> Title Builder </h2>

            <div *ngIf="!category">
                Loading category information...
            </div>

            <div *ngIf="(category && categoryAndAncestors) || (category && category.ID === 'root')">
                <br>
                <mat-slide-toggle [(ngModel)]="autoTitleBuilder" (change)="onToggleAutoTitle($event)"> <b> Automatic Title</b> <div class="light-text"> from {{ category.name }} </div> </mat-slide-toggle>
                <br>
                <br>
                <!-- Auto Title -->
                <div *ngIf="autoTitleBuilder">
                    <small class="light-text">This also means the item's title is automatically updated when the item changes. </small>
                    <br>
                    <br>
                    <div> Current title: </div>
                    <div><b> {{ item.name }} </b></div>
                    <div *ngIf="!item.name" class="light-text"> (No title!) </div>
                    <br>
                    <div class="label-text"> Optional Additional Text </div>
                    <mat-form-field class="additional-text-form title-data-text">
                        <textarea matInput #value
                        type="text"
                        [(ngModel)]="additionalText"
                        (keyup)="updateTitleFromUI()"></textarea>
                    </mat-form-field>
                </div>

                <!-- Manual Title -->
                <div *ngIf="!autoTitleBuilder">
                    <br>
                    <mat-form-field>
                        <mat-label> Title: </mat-label>
                        <textarea
                        matInput
                        type="text"
                        [(ngModel)]="item.name"
                        cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="3"
                        ></textarea>
                    </mat-form-field>
                    <br>
                </div>
            </div>
        </div>


        <!-- Picture -->
        <div *ngIf="this.step == 'picture'" class="step-picture">
            <h2 mat-dialog-title> Item Picture </h2>
            <div class="scrollable">
                <div *ngIf="!item.imageUrl && !category.imageUrl">
                    <div> Neither the category nor item have an image. Would you like to give this item a custom image? </div>
                </div>
                <div *ngIf="!item.imageUrl && category.imageUrl">
                    <img class="category-picture" src={{category.imageUrl}} alt="... Something went wrong with the item's image!">
                    <br>
                    <div> The item will use the category's image. Would you like to give this item a custom picture? </div>
                    <br>
                </div>
                <div *ngIf="item.imageUrl">
                    <img class="item-picture" src={{item.imageUrl}} alt="... Something went wrong with the item's image!">
                    <br>
                    <div> Would you like to update the item's custom picture? </div>
                </div>
            </div>
        </div>


        <!-- Extras -->
        <div *ngIf="this.step == 'extras'" class="step-extras">
            <h2 mat-dialog-title> Extras </h2>
            <div class="scrollable">
                <h4> Description <small class="light-text"> (Not required) </small> </h4>
                <div class="light-text">
                    This adds extra information to the item that does not affect anything. This includes not being picked up by the search engine.
                </div>
                <form (ngSubmit)="onDescSubmit()" class="form-appear">
                    <mat-form-field class="form-appear">
                        <textarea matInput #desc type="text"
                        placeholder="Add description..."
                        [(ngModel)]="item.desc"
                        name="desc"
                        ></textarea>
                    </mat-form-field>
                </form>
                <h4> Tags <small class="light-text"> (Not required) </small> </h4>
                <div class="light-text">
                    These are phrases that are picked up by the search engine. Use this when there are certain phrases or words connected to this item that are not in the title or attributes. 
                </div>
                <form>
                    <mat-form-field class="form-appear">
                        <mat-chip-list #tagList>
                        <mat-chip *ngFor="let tag of item.tags" [selectable]=true
                                [removable]=true (removed)="removeTag(tag)">
                            {{tag}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                        <input #tags placeholder="Add tags..."
                                [matChipInputFor]="tagList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                [matChipInputAddOnBlur]="true"
                                (matChipInputTokenEnd)="addTag($event)"
                                name="tags"
                            >
                        </mat-chip-list>
                    </mat-form-field>
                </form>
                <br>
            </div>
        </div>
    </div>

    
    <div *ngIf="this.step === 'select'" class="step-select">
        <app-select-hierarchy [workspaceID]="workspaceID" [type]="typeLookingFor" (selectedHierarchy)="setHierarchy($event)">

        </app-select-hierarchy>
    </div>

    <!-- Buttons -->
    <div class="action-buttons">
        <!-- Cancel button is always here -->
        <button mat-raised-button class="rect-action-button" (click)="cancel()">Cancel</button>
        
        <!-- For images -->
        <div *ngIf="step === 'picture'" class="stacked-buttons">
            <!-- Take/upload an image -->
            <button mat-raised-button class="rect-action-button" (click)="camera.click()" color="accent"> <mat-icon>photo_camera</mat-icon> {{ item.imageUrl ? "Replace" : "Custom" }} </button>
            <!-- Next button, needed one here to be able to stack them -->
            <button mat-raised-button class="rect-action-button" (click)="nextStep()" color="primary"> {{ singleStep ? "Confirm" : "Next" }} </button>
            
            <input hidden type="file" accept=".jpg,.jpeg,.png,.webp;capture=camera" #camera (change)='uploadImage($event)'/>
        </div>

        <!-- Next or confirm button depending on if this is a single step-->
        <button *ngIf="(step !== 'extras') && (step !== 'picture')" mat-raised-button class="rect-action-button" (click)="nextStep()" [disabled]="!isReadyForNextStep()" color="primary">{{ singleStep ? "Confirm" : "Next" }}</button>
        <button *ngIf="step === 'extras'" mat-raised-button class="rect-action-button" (click)="nextStep()" color="primary">Finish</button>
    </div>

</div>
