

<div *ngIf="step === 'version'">
    <mat-radio-group [(ngModel)]="version">
        <mat-radio-button value="location"> Link to Location </mat-radio-button>
        <div><small> 
            This will always link to this specific location, no matter where it is moved or how it gets modified. 
        </small></div>
        <br>
        <mat-radio-button [disabled]="data.location.shelfID === '000'" value="bin"> Link to Bin </mat-radio-button>
        <div *ngIf="data.location.shelfID  === '000'" class="light-text"><small> 
            This location needs a shelf ID to have a bin ID linked here.
        </small></div>
        <div *ngIf="data.location.shelfID  !== '000'"><small> 
            Input a bin number, which will link to an item if it has the bin number, otherwise it will link to this location.
        </small></div>
    </mat-radio-group>
</div>

<div *ngIf="step === 'bin'">
    <span> {{data.location.shelfID}} </span>
    <span> - </span>
    <mat-form-field class="bin-form" appearance="outline">
        <mat-label>Bin #</mat-label>
        <input 
        class="shelf-input" 
        matInput 
        #binInput
        type="number" 
        pattern="\d*"
        (keyup)="submitBinID($event.target)"
        >
    </mat-form-field>
</div>

<div *ngIf="step === 'QR'">
    <qrcode [qrdata]="urlToString" [width]="256" [errorCorrectionLevel]="'Q'"></qrcode>
</div>

<br>

<!-- Buttons -->
<div class="action-buttons">
    <!-- Cancel button is always here -->
    <button mat-raised-button *ngIf="this.step !== 'QR'" class="rect-action-button" (click)="cancel()">Cancel</button>
    <button mat-raised-button *ngIf="this.step === 'QR' && this.validBinID" class="rect-action-button" (click)="back()">Back</button>

    <!-- Next or confirm button depending on if this is a single step-->
    <button *ngIf="step !== 'QR'" mat-raised-button class="rect-action-button" (click)="nextStep()" [disabled]="!isReadyForNextStep()" color="primary"> Next </button>
    <button *ngIf="step === 'QR'" mat-raised-button class="rect-action-button" (click)="nextStep()" [disabled]="!isReadyForNextStep()" color="primary">Finish</button>
</div>