
.report-table{
    width:100%
}

.item {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

img {
    width: 40px;
}

.row:hover{
    background-color: beige;
}
.row:active:hover{
    background-color: tan;
}