<div class="dialog-content">
    <mat-radio-group>
        <mat-radio-button value="number"> Number </mat-radio-button>
        <mat-radio-button value="text"> Text </mat-radio-button>
        <mat-radio-button value="date" disabled="true"> Date </mat-radio-button>
        <mat-radio-button value="user" disabled="true"> User </mat-radio-button>
        <mat-radio-button value="image" disabled="true"> Image </mat-radio-button>
        <mat-radio-button value="selection" disabled="true"> Selection </mat-radio-button>
    </mat-radio-group>
</div>
