<mat-toolbar *ngIf="root">
  <mat-toolbar-row class="structure-color-light hierarchy-toolbar">
    <!-- <button mat-flat-button color="accent" (click)="goToModify()">{{parent.name}}</button> -->
    <span *ngIf="root.ID !== 'root'" class="nav-text">{{root.name}}</span>
    <!--mat-button-toggle-group *ngIf="parent.ID === 'root'" class="hierarchySelector" [(value)]="typeForHierarchyToggleButtons" name="hierarchySelector" (change)="toggleHierarchy($event)">
        <mat-button-toggle class="toggle-button" value="categories" >Categories</mat-button-toggle>
        <mat-button-toggle class="toggle-button" value="locations">Locations</mat-button-toggle>
    </mat-button-toggle-group-->
    <span *ngIf="root.ID === 'root'" class="nav-text">
        {{root.type === 'category' ? "All Categories" : "All Locations"}}
    </span>
    <span class="spacer"></span>
    <span *ngIf="root.ID === 'root'" class="nav-text hierarchy-name" [class.mat-elevation-z2]="true" (click)="toggleHierarchy()">
        {{root.type === 'category' ? "Locations" : "Categories"}}
        <mat-icon class="custom-icon-button">chevron_right</mat-icon>
    </span>
    
    <!--button mat-icon-button (click)="route('modify')"><mat-icon>read_more</mat-icon></button-->
  </mat-toolbar-row>

  <mat-toolbar-row class="structure-color-light ">
      <!-- <button mat-flat-button color="accent" (click)="goToModify()">{{parent.name}}</button> -->
      <button *ngIf="root.ID !== 'root'" mat-icon-button (click)="openQRDialog()"><mat-icon>qr_code_2</mat-icon></button>
      <button mat-icon-button (click)="route('textSearch')"><mat-icon>search</mat-icon></button>
      <!--button mat-icon-button ><mat-icon>filter_alt</mat-icon></button-->

      <button mat-icon-button *ngIf="this.role === 'Admin'" [matMenuTriggerFor]="addMenu"><mat-icon>add</mat-icon></button>
      <mat-menu #addMenu="matMenu">
          <button class="add-menu-button" (click)="addHierarchy()" mat-menu-item> {{root.type === 'category' ? "Category" : "Location"}} </button>
          <button class="add-menu-button" (click)="addItem()" mat-menu-item> Item </button>
      </mat-menu>
      <!--button mat-icon-button (click)="route('modify')"><mat-icon>read_more</mat-icon></button-->
      <button *ngIf="root.ID !== 'root'" mat-icon-button (click)="route('modify')"><mat-icon>read_more</mat-icon></button>

      <span class="spacer"></span>
      <button mat-icon-button [class.mat-elevation-z3]="true" class="bin-button" (click)="toggleBinBar()"><mat-icon>inventory</mat-icon></button>
  </mat-toolbar-row>

  <mat-toolbar-row [@binInput]="binBarOpen ? 'open' : 'closed'" class="bin-bar" [class.mat-elevation-z3]="true">        
      <div class="quick-search">
          <mat-form-field class="bin-form" appearance="outline">
              <mat-label>Shelf</mat-label>
              <input 
                  class="shelf-input" 
                  matInput 
                  #shelfInput
                  type="number" 
                  pattern="\d*" 
                  maxlength="3"
                  (keyup)="updateQuickSearchShelf($event)">
          </mat-form-field>
          <span> - </span>
          <mat-form-field class="bin-form" appearance="outline">
              <mat-label>Bin</mat-label>
              <input 
                  class="shelf-input" 
                  matInput 
                  #binInput
                  type="number" 
                  pattern="\d*" 
                  maxlength="3"
                  (keyup)="updateQuickSearchBin($event)">
          </mat-form-field>
      </div>
      
  </mat-toolbar-row>
</mat-toolbar>

<!--Search Bar-->
<div class="allContent">
  <!--div class="top-components">

    <div class="quick-search" [class.mat-elevation-z5]="true">
      <mat-form-field class="bin-form" appearance="outline">
        <mat-label>Shelf</mat-label>
        <input 
          class="shelf-input" 
          matInput 
          #shelfInput
          type="number" 
          pattern="\d*" 
          maxlength="3"
          (keyup)="updateQuickSearchShelf($event)">
      </mat-form-field>
      <span> - </span>
      <mat-form-field class="bin-form" appearance="outline">
        <mat-label>Bin</mat-label>
        <input 
          class="shelf-input" 
          matInput 
          #binInput
          type="number" 
          pattern="\d*" 
          maxlength="3"
          (keyup)="updateQuickSearchBin($event)">
      </mat-form-field>
  
      <!--button mat-raised-button class="quick-search-button action-color-light"> GO </button-->
    <!--/div>
    <!--div class ="tool-spacer"></div-->
    

    <!--div class="search-tools">
      <form class="search-bar" (submit)="null">
        <mat-form-field class="full-width">
          <input type="text" placeholder="Search in {{(root && root.name !== 'root')? root.name : (typeForSelectionButtons === 'category' ? 'all Categories' : 'all Locations')}}" matInput [formControl]="control" (ngModelChange)="searchTextChange($event)" (submit)="null">
          <button type="button" mat-button *ngIf="control.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearchBar()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <mat-progress-bar *ngIf="isLoading" class="search-progress-bar" mode="query"></mat-progress-bar>
      </form>
    </div-->

  <!--/div-->

  <div *ngIf="!binSearchItem">

    <!--div class="filter-button">
      <button mat-stroked-button *ngIf="root && root.type === 'category'" [matMenuTriggerFor]="beforeMenu" class="filter-menu">Filter by <mat-icon>arrow_drop_down</mat-icon></button>
      <mat-progress-bar *ngIf="isLoadingAttributes" class="search-progress-bar" mode="determinate" value="percentLoadedAttributes"></mat-progress-bar>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item *ngFor="let attribute of filterableAttributes" (click)="gatherAttributeValues(attribute)">{{attribute.name}}</button>
      </mat-menu>
    </div>

    <!-- Attribute filters -->
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let attr of filteredAttributes" color="primary" [selected]="true"
        [removable]="true" (removed)="removeAttributeFromFilter(attr.name)">
        {{attr.name + ": " + attr.value}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  
    <!--Attribute values, if we're searching for that-->
    <div *ngIf="attributeValues && attributeValues.length > 0">
      <div class="header">{{"Found for " + currentAttribute.name + ":"}}</div>
      <mat-grid-list class="row" [cols]="columns * 2" rowHeight="50px">
        <mat-grid-tile class="holder" *ngFor="let attribute of attributeValues">
          <mat-card class="itemCard" [class.mat-elevation-z3]="true" (click)="selectAttribute(attribute)">
            <div class="material-bypass"><div class='attribute-text'>{{attribute}}</div></div>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
      <br>
    </div>
  
    <!--Hierarchy Items-->
    <br>

    <div *ngIf="hierarchyItems && hierarchyItems.length > 0 && !filteredAttributes" (window:resize)="onResize($event)">
      <div class="header">{{root.type === 'category' ? 'Categories' : 'Locations'}}</div>
      <app-hierarchy-item-grid [hierarchyItemList]="hierarchyItems" (clickedHierarchy)="goToHierarchy($event)"></app-hierarchy-item-grid>
      <br>
    </div>
  
    <!--Items in bins-->
    <div *ngIf="binItems && binItems.length > 0">
      <div class="header">Items in Bins</div>
      <app-hierarchy-item-grid [hierarchyItemList]="binItems" [insideLocation]="root" (clickedHierarchy)="goToItem($event)"></app-hierarchy-item-grid>
    </div>
  
    <!--Items-->
    <div *ngIf="items && items.length > 0">
      <div class="header">Items</div>
      <app-hierarchy-item-grid [hierarchyItemList]="items" (clickedHierarchy)="goToItem($event)"></app-hierarchy-item-grid>
    </div>
  </div>

  <!-- Single result if we're searching by bin -->
  <div *ngIf="binSearchItem">
    <app-hierarchy-item-grid [hierarchyItemList]="[binSearchItem]" [insideLocation]="root" (clickedHierarchy)="goToItem($event)"></app-hierarchy-item-grid>
  </div>
  

  <br>
  <br>
  <br>
  <br>

  <button mat-fab class="extended-fab-button qr-scanner-button" (click)="openQRScanner()"><mat-icon class="qr-icon">qr_code_2</mat-icon> SCAN </button>
</div>
