<div class="allContent">
  <mat-dialog-content>
    <div class="header">
      <h1 mat-dialog-title>Name
        <mat-form-field>
          <input matInput [(ngModel)]="data.name">
        </mat-form-field>
      </h1>
      <button mat-icon-button class="trash" (click)="onDeleteClick()"><mat-icon>delete</mat-icon></button>
    </div>
    <!--<div class="image" [ngStyle]="{'background-image': 'url(' + data.imageUrl + ')'}"></div>-->
    <div class="image">
      <img class="responsive-item-image container-img" src={{data.imageUrl}} layout-fit>
      <button mat-icon-button class="camera"  (click)="uploader.click()"><mat-icon>photo_camera</mat-icon></button>
    </div>
    <!-- hidden item uploader -->
    <input hidden type="file" accept=".jpg,.jpeg,.png" #uploader (change)='uploadImage($event)'/>
    <div>Parent: {{data.realParent ? data.realParent.name : 'root'}} <button mat-icon-button (click)="onChangeParent()"><mat-icon>edit</mat-icon></button></div>
  </mat-dialog-content>
  <div mat-dialog-actions>
    <button mat-raised-button (click)="onCancelClick()">Cancel</button>
    <span class="btn-spacer"></span>
    <button mat-raised-button color="primary" (click)="onSaveClick()">Save</button>
  </div>
</div>

