.btn-spacer {
  flex: 1 1 auto;
}

.image {
  max-width: 30rem;
  max-height: 30rem;
  border: dimgray 1px solid;
  position: relative;
  margin: auto;
}

.responsive-item-image {
  width: 100%;
  height: 100%;
}

.container-img {
  display: block;
}

.camera {
  position: absolute;
  right: 3%;
  top: 3%;
  filter: drop-shadow(0 0 0.2rem white);
}

.trash {
  position: absolute;
  right: 0;
  top: 15%;
}

.header {
  position: relative;
}

.foundWithin {
  margin-top: 0.8rem;
}

.mat-dialog-title {
  margin: 0;
}

.mat-form-field {
  width: 10rem;
}

.mat-dialog-actions {
  margin-bottom: 0;
}
